{% extends "_layout.html" %}

{% block title %}Startupy{% endblock %}

{% block head %}
{%- endblock %}

{% block content %}

<div class="bg-gray-200">
  <section class="container mx-auto p-6">
    <div class="mb-5">
      <h3 class="mb-3 text-md font-bold">Icons</h3>
      <div class="pb-4">
        <i class="icon-add-2"></i>
      </div>
      <div class="pb-4">
        <i class="icon-refresh"></i>
      </div>
    </div>
    <div class="mb-5">
      <h3 class="mb-3 text-md font-bold">Tooltip</h3>
      <div class="pb-4">
        <span
          class="c-badge color--blue bkg--blue-transparent mb-2 mr-2 md:mr-0"
          id="myToogle"
          >Future of Housing</span
        >
      </div>
      <div class="pb-4">
        <span
          class="c-badge color--purple bkg--purple-transparent mb-2 mr-2 md:mr-0"
          id="tooltip1"
          >Startupy</span
        >
      </div>
      <div class="flex items-center pb-4">
        <div class="c-curator--circle">
          <span class="text-xs">JN</span>
        </div>
        <span id="tooltip2" class="c-curator--text whitespace-no-wrap">Josh N.</span>
      </div>
      <div class="flex items-center pb-4">
        <div class="c-curator--circle">
          <span class="text-xs">JN</span>
        </div>
        <span id="tooltip3" class="c-curator--text whitespace-no-wrap">Josh N.</span>
      </div>
      <div class="flex items-center pb-4">
        <div class="c-curator--circle">
          <span class="text-xs">JN</span>
        </div>
        <span id="tooltip4" class="c-curator--text whitespace-no-wrap">Josh N.</span>
      </div>
    </div>
    <div class="mb-5">
      <h3 class="mb-3 text-md font-bold">Buttons</h3>
      <div class="pb-4">
        <button class="c-btn--primary">Button Initial</button>
      </div>
      <div class="pb-4">
        <button disabled class="c-btn--disabled border-color--gray color--gray cursor-not-allowed">Button Disabled</button>
      </div>
      <div class="pb-4">
        <button class="c-btn--secondary bkg--blue2">Join Annual $15/mo <span class="text-xs">($180/yr)</span></button>
      </div>
      <div class="pb-4">
        <button class="c-btn--tertiry bkg--blue3 color--blue">Join Monthly</button>
      </div>
      <div class="pb-4">
        <button class="c-btn--white">Join Monthly $20/mo</span></button>
      </div>
    </div>
    <div class="mb-5">
      <h3 class="mb-3 text-md font-bold">Changelog</h3>
      <div class="pb-4">
        <div class="flex w-100 items-center changelog pt-4 pb-4">
          <span class="date pr-8 color--gray text-sm">3/22/21</span>
          <div class="border-solid border border-gray-600 rounded-full h-8 w-8 flex items-center justify-center">
            <span class="text-xs">JN</span>
          </div>
          <span class="pl-2 text-sm font-bold whitespace-no-wrap pr-2">Mark Johnson</span>
          <i class="text-sm whitespace-no-wrap pr-2">Edited company founding date</i>
          <span class="text-sm font-bold whitespace-no-wrap pr-2">Agency</span>
        </div>
        <div class="flex w-100 items-center changelog pt-4 pb-4">
          <span class="date pr-8 color--gray text-sm">3/22/21</span>
          <div class="border-solid border border-gray-600 rounded-full h-8 w-8 flex items-center justify-center">
            <span class="text-xs">JN</span>
          </div>
          <span class="pl-2 text-sm font-bold whitespace-no-wrap pr-2">Mark Johnson</span>
          <i class="text-sm whitespace-no-wrap pr-2">Edited company founding date</i>
          <span class="text-sm font-bold whitespace-no-wrap pr-2">Agency</span>
        </div>
        <div class="flex w-100 items-center changelog pt-4 pb-4">
          <span class="date pr-8 color--gray text-sm">3/22/21</span>
          <div class="border-solid border border-gray-600 rounded-full h-8 w-8 flex items-center justify-center">
            <span class="text-xs">JN</span>
          </div>
          <span class="pl-2 text-sm font-bold whitespace-no-wrap pr-2">Mark Johnson</span>
          <i class="text-sm whitespace-no-wrap pr-2">Edited company founding date</i>
          <span class="text-sm font-bold whitespace-no-wrap pr-2">Agency</span>
        </div>
      </div>
    </div>
    <div class="mb-5">
      <h3 class="mb-3 text-md font-bold">Radio buttons</h3>
      <div class="pb-4">
        <span><b>Sari Azout is a</b></span>
        <div>
          <label class="rdio-container">One
            <input type="radio" checked="checked" name="radio">
            <span class="checkmark"></span>
          </label>
          <label class="rdio-container">Two
            <input type="radio" name="radio">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="mb-5">
      <h3 class="mb-3 text-md font-bold">Input text area</h3>
      <div class="mb-10 md:mb-0">
        <div class="md:flex">
          <div class="w-full pb-8 md:mr-4">
            <p class="text-sm font-bold mb-1">Text Area Initial</p>
            <textarea class="c-input border-gray" type="text" name="" cols="30" rows="2" id=""></textarea>
          </div>
          <div class="pb-8 w-full md:ml-4">
            <p class="text-sm font-bold mb-1">Text Area Initial</p>
            <textarea class="c-input border-gray" type="text" name="" cols="30" rows="5" id=""></textarea>
          </div>
        </div>
        <div class="md:flex">
          <div class="pb-8 w-full md:mr-4">
            <p class="text-sm font-bold mb-1">Text Area Typing</p>
            <textarea class="c-input border-black" type="text" name="" cols="30" rows="2" id=""></textarea>
          </div>
          <div class="pb-8 w-full md:ml-4">
            <p class="text-sm font-bold mb-1">Text Area Typing</p>
            <textarea class="c-input border-black" type="text" name="" cols="30" rows="5" id=""></textarea>
          </div>
        </div>
        <div class="md:flex">
          <div class="pb-8 w-full md:mr-4">
            <p class="text-sm font-bold mb-1">Text Area Complete</p>
            <textarea class="c-input border-gray" type="text" name="" cols="30" rows="2" id=""></textarea>
          </div>
          <div class="pb-8 w-full md:ml-4">
            <p class="text-sm font-bold mb-1">Text Area Complete</p>
            <textarea class="c-input border-gray" type="text" name="" cols="30" rows="5" id=""></textarea>
          </div>
        </div>
        <div class="md:flex">
          <div class="pb-8 w-full md:mr-4">
            <p class="text-sm font-bold mb-1 color--purple-2">Text Area Error</p>
            <textarea class="c-input border-color--purple-2 color--purple-2" type="text" name="" cols="30" rows="2" id=""></textarea>
            <p class="color--purple-2 font-bold text-sm">Error language, please correct above.</p>
          </div>
          <div class="pb-8 w-full color--purple-2 md:ml-4">
            <p class="text-sm font-bold mb-1">Text Area Error</p>
            <textarea class="c-input border-color--purple-2 color--purple-2" type="text" name="" cols="30" rows="5" id=""></textarea>
            <p class="color--purple-2 font-bold text-sm">Error language, please correct above.</p>
          </div>
        </div>
        <div class="pb-8">
          <p class="text-sm font-bold mb-1">Text Input Initial</p>
          <input class="c-input" type="text" name="" id="">
        </div>
        <div class="pb-8">
          <p class="text-sm font-bold mb-1">Text Input Typing</p>
          <input class="c-input border-black" type="text" name="" id="">
        </div>
        <div class="pb-8">
          <p class="text-sm font-bold mb-1">Text Input Complete</p>
          <input class="c-input" type="text" name="" id="">
        </div>
        <div class="pb-8">
          <p class="text-sm font-bold mb-1 color--purple-2">Text Input Complete</p>
          <input class="c-input border-color--purple-2 color--purple-2" type="text" name="" id="">
          <p class="color--purple-2 font-bold text-sm">Error language, please correct above.</p>
        </div>
      </div>
    </div>
    <div class="mb-5">
      <h3 class="mb-3 text-md font-bold">Curator</h3>
      <div class="flex items-center mb-2">
        <div class="c-curator--circle">
          <span class="text-xs">JN</span>
        </div>
        <span class="c-curator--text whitespace-no-wrap">Josh N.</span>
      </div>
      <div class="flex items-center mb-2">
        <div class="c-curator--circle">
          <span class="text-xs">JN</span>
        </div>
        <span class="c-curator--text whitespace-no-wrap">Josh N.</span><span class="c-curator--text whitespace-no-wrap color--purple-2">MOD</span>
      </div>
      <div class="flex items-center mb-2">
        <div class="c-curator--circle">
          <span class="text-xs">JN</span>
        </div>
      </div>
    </div>
    <div class="mb-5">
      <h3 class="mb-3 text-md font-bold">Top of topic</h3>
      <div class="mb-2">
        <div class="c-tf--top color--gray">
          <span class="text-xs">Last Updated: Jul 25, 2020</span>
          <a class="text-xs ml-5 underline" href="">Changelog</a>
        </div>
        <div class="c-tf--title">
          <h2 class="c-title pr-6">The Future of Warehousing Long Topic Name</h2>
          <i class="icon-eye text-4xl ml-3 color--gray"></i>
        </div>
      </div>
      <div class="mb-2">
        <div class="c-tf--top color--gray">
          <span class="text-xs">Last Updated: Jul 25, 2020</span>
          <a class="text-xs ml-5 underline" href="">Changelog</a>
        </div>
        <div class="c-tf--title">
          <h2 class="c-title pr-6">The Future of Warehousing Long Topic Name</h2>
          <i class="icon-eye-black text-4xl ml-3 color--blue"></i>
        </div>
      </div>
    </div>
    <div class="mb-5">
      <h3 class="mb-3 text-md font-bold">Person page</h3>
      <div class="md:grid grid-cols-6 gap-4 mb-2">
        <div class="md:col-start-2 col-span-4">
          <div class="p-4 md:p-5">
            <div class="flex">
              <div class="mr-4 md:mr-8 hidden md:block">
                <div class="c-curator--circle__large mt-6">
                  <span class="text-xs md:text-base">SM</span>
                </div>
              </div>
              <div>
                <div class="flex">
                  <span class="c-badge bkg--blue2 text-white mr-2">Curator</span>
                  <div class="flex items-center color--gray font-bold">
                    <i class="icon-eye text-base"></i>
                    <span class="ml-2 text-xs">stephenopolus-mclongname</span>
                  </div>
                </div>
                <div class="flex items-center">
                  <h2 class="c-title w-full">Stephenopolus Mclongname</h2>
                  <i class="icon-eye text-4xl ml-3"></i>
                  <i class="icon-message text-4xl ml-3"></i>
                </div>
                <div class="my-4">
                  <p>Startupy enthusiast. Bicycling advocate. </p>
                </div>
                <div class="flex mb-8 mt-8 items-center">
                  <div class="mr-4 md:mr-8">
                    <span class="text-xs color--gray font-bold">Member Since</span>
                    <p>2020</p>
                  </div>
                </div>
                <div class="md:grid grid-cols-6">
                  <div class="col-span-4">
                    <div class="flex mb-8 items-center flex-wrap">
                      <a class="text-xs font-bold mr-8 mb-2" href="">
                        <i class="icon-link"></i>
                        <span>stephenopolusmc.com</span>
                      </a>
                      <a class="text-xs font-bold mr-8 mb-2" href="">
                        <i class="icon-twitter"></i>
                        <span>stephenopolusmclongname</span>
                      </a>
                      <a class="text-xs font-bold mr-8 mb-2" href="">
                        <i class="icon-link"></i>
                        <span>myfund.com</span>
                      </a>
                      <a class="text-xs font-bold mr-8 mb-2" href="">
                        <i class="icon-link"></i>
                        <span>mynewsletter.io</span>
                      </a>
                      <a class="text-xs font-bold mr-8 mb-2 color--gray" href="">
                        <span>+ Add Link</span>
                      </a>
                    </div>
                  </div>
                </div>
                <div>
                  <span class="font-bold text-sm color--gray">Top Topics</span>
                  <div class="flex mt-2 items-center flex-wrap">
                    <span class="color--blue bkg--blue-transparent c-badge mr-2 mb-2">Sustainability &amp; Climate Change</span>
                    <span class="color--blue bkg--blue-transparent c-badge mr-2 mb-2">Carbon Offsetting and Carbon Removal</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="md:grid grid-cols-6 gap-4 mb-2">
        <div class="md:col-start-2 col-span-4">
          <div class="p-4 md:p-5">
            <div class="flex">
              <div class="mr-4 md:mr-8 hidden md:block">
                <div class="c-curator--circle__large mt-6">
                  <span class="text-xs md:text-base">PM</span>
                </div>
              </div>
              <div>
                <div class="flex">
                  <span class="c-badge bkg--blue2 mr-3 text-white">Moderator</span>
                  <div class="flex items-center color--gray font-bold">
                    <i class="icon-eye text-base"></i>
                    <span class="ml-2 text-xs">Person Name</span>
                  </div>
                </div>
                <div class="flex items-center">
                  <h2 class="c-title w-full">Person Name</h2>
                  <i class="icon-eye text-4xl ml-3"></i>
                  <i class="icon-message text-4xl ml-3"></i>
                </div>
                <div class="my-4">
                  <p>Startupy enthusiast. Bicycling advocate. </p>
                </div>
                <div class="flex mb-8 mt-8 items-center">
                  <div class="mr-4 md:mr-8">
                    <span class="text-xs color--gray font-bold">Member Since</span>
                    <p>2021</p>
                  </div>
                </div>
                <div class="md:grid grid-cols-6">
                  <div class="col-span-4">
                    <div class="flex mb-8 items-center flex-wrap">
                      <a class="text-xs font-bold mr-8 mb-2" href="">
                        <i class="icon-link"></i>
                        <span>personname.com</span>
                      </a>
                      <a class="text-xs font-bold mr-8 mb-2" href="">
                        <i class="icon-twitter"></i>
                        <span>personname</span>
                      </a>
                      <a class="text-xs font-bold mr-8 mb-2" href="">
                        <i class="icon-link"></i>
                        <span>myfund.com/person-name</span>
                      </a>
                      <a class="text-xs font-bold mr-8 mb-2" href="">
                        <i class="icon-link"></i>
                        <span>mynewsletter.io/personnamedotcom</span>
                      </a>
                      <a class="text-xs font-bold mr-8 mb-2 color--gray" href="">
                        <span>+ Add Link</span>
                      </a>
                    </div>
                  </div>
                </div>
                <div>
                  <span class="font-bold text-sm color--gray">Top Curator of:</span>
                  <div class="flex mt-2 items-center flex-wrap">
                    <span class="color--blue bkg--blue-transparent c-badge mr-2 mb-2">Nothing Topic</span>
                  </div>
                </div>
                <div class="flex mb-8 mt-8 items-center">
                  <div>
                    <div class="flex items-center">
                      <div class="c-curator--circle m-h-8 m-w-8 mr-2 mt-1">
                        <span class="text-xs font-bold">HR</span>
                      </div>
                      <div class="c-curator--circle m-h-8 m-w-8 mr-2 mt-1">
                        <span class="text-xs font-bold">EE</span>
                      </div>
                      <div class="c-curator--circle m-h-8 m-w-8 mr-2 mt-1">
                        <span class="text-xs font-bold">JN</span>
                      </div>
                      <div class="c-curator--circle m-h-8 m-w-8 mr-2 mt-1">
                        <span class="text-xs font-bold">JN</span>
                      </div>
                      <div class="mt-1">
                        <p class="text-xs">Followed by <b>Abe Bee, Carly Dee, Erin Finch, Gretchen Hurst</b></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-5">
      <h3 class="mb-3 text-md font-bold">Highlights Counter</h3>
      <div class="flex mb-2 items-center">
        <div class="flex items-center">
          <div class="mt-1 mr-2">
            <p class="text-xs font-bold">Highlights</p>
          </div>
          <div class="c-curator--circle border-black bg-black m-h-8 m-w-8 mr-2 mt-1">
            <span class="text-white text-xs font-bold">3</span>
          </div>
        </div>
      </div>
      <div class="flex mb-2 items-center">
        <div class="flex items-center">
          <div class="mt-1 mr-2">
            <p class="text-xs font-bold">Highlights</p>
          </div>
          <div class="c-curator--circle border-black bg-black m-h-8 m-w-8 mr-2 mt-1">
            <span class="text-white text-xs">39</span>
          </div>
          <div class="c-curator--circle border-black m-h-8 m-w-8 mr-2 mt-1">
            <span class="text-xs">JN</span>
          </div>
          <div class="c-curator--circle border-black m-h-8 m-w-8 mr-2 mt-1">
            <span class="text-xs">SA</span>
          </div>
          <div class="c-curator--circle border-black m-h-8 m-w-8 mr-2 mt-1">
            <span class="text-xs">GG</span>
          </div>
          <div class="c-curator--circle border-black m-h-8 m-w-8 mr-2 mt-1">
            <span class="text-xs">EE</span>
          </div>
          <div class="mt-1">
            <p class="text-xs color--gray">+10</p>
          </div>
        </div>
      </div>
      <div class="flex mb-2 items-center">
        <div class="flex items-center">
          <div class="mt-1 mr-2">
            <p class="text-xs font-bold">Highlights</p>
          </div>
          <div class="c-curator--circle border-black bg-black h-8 w-8 m-h-8 m-w-8 mr-2 mt-1">
            <span class="text-white text-xs">39</span>
          </div>
          <div class="c-curator--circle border-black h-8 w-8 m-h-8 m-w-8 mr-2 mt-1">
            <span class="text-xs">SA</span>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-5">
      <h3 class="mb-3 text-md font-bold">Edit Profile</h3>
      <div class="md:grid grid-cols-6 gap-4 mb-2">
        <div class="md:col-start-2 col-span-4">
          <div class="p-4 md:p-5">
            <h3 class="c-sub-title mb-12">Edit User Profile</h3>
            <div class="mb-10 md:mb-0">
              <div class="pb-8">
                <p class="text-sm font-bold mb-1">First Name</p>
                <input class="c-input" type="text" name="" id="">
              </div>
              <div class="pb-8">
                <p class="text-sm font-bold mb-1">Last Name</p>
                <input class="c-input" type="text" name="" id="">
              </div>
              <div class="pb-8">
                <p class="text-sm font-bold mb-1">Bio</p>
                <textarea class="c-input" type="text" name="" cols="30" rows="5" id=""></textarea>
              </div>
              <div class="pb-8">
                <p class="text-sm font-bold mb-1">Twitter handle</p>
                <input class="c-input" type="text" name="" id="">
              </div>
              <div class="pb-8">
                <p class="text-sm font-bold mb-1">Instagram handle</p>
                <input class="c-input" type="text" name="" id="">
              </div>
              <div class="pb-8">
                <p class="text-sm font-bold mb-1">Website</p>
                <input class="c-input" type="text" name="" id="">
              </div>
              <div class="pt-6">
                <button class="c-btn--primary">Save Changes</button>
              </div>
            </div>
            <div class="pt-24">
              <h3 class="c-sub-title">Export Curations</h3>
              <div class="pt-4">
                <button class="c-btn--primary w-full">Download curations as .CSV file</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="relative eyes-gif">
      <img src="./static/img/eyes.gif" alt="">
      <h2 class="absolute-center text-center">Become a  Member</h2>
    </div>
    <div class="container mx-auto md:p-6">
      <div class="mb-5">
        <div class="md:grid md:grid-cols-12 gap-4">
          <div class="md:col-start-2 md:col-span-10 lg:col-start-3 lg:col-span-8">
            <div class="p-4 md:p-5">
              <div class="pb-8 md:pb-16">
                <span class="color--blue text-sm font-bold">Become a Member Today</span>
                <p class="c-title mt-3">
                  <span class="ff-conv-PxGrotesk">Startupy</span> is a curated information environment for <span class="color--blue">builders.</span>
                  We give you a sane way to stay up to speed on the pulse of new markets, ideas, and people.
                </p>
              </div>
              <div class="flex justify-center py-12">
                <div class="w-full flex">
                  <div class="flex flex-col w-full pr-3">
                    <div class="flex items-center mb-2">
                      <span class="c-badge--small bkg--blue">Save 25%</span>
                    </div>
                    <div class="flex mb-6">
                      <p class="c-title leading-none pr-1">
                        $15
                      </p>
                      <p class="self-end color--gray text-sm">/month</p>
                    </div>
                    <div class="mb-10">
                      <button class="bkg--blue2 text-white c-btn--secondary w-full">Join Annual $15/mo <span class="text-xs">($180/yr)</span></button>
                    </div>
                  </div>
                </div>
                <div class="w-full flex items-end">
                  <div class="flex flex-col w-full pl-3">
                    <div class="flex mb-6">
                      <p class="c-title leading-none pr-1">
                        $20
                      </p>
                      <p class="self-end color--gray text-sm">/month</p>
                    </div>
                    <div class="mb-10">
                      <button class="bkg--blue3 color--blue c-btn--secondary w-full">Join Monthly</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex justify-center pb-12 border-t border-solid border-black">
                <div class="w-full flex pt-2">
                  <div class="flex flex-col w-full pr-3">
                    <p class="font-bold text-sm">Group memberships</p>
                    <p class="text-xs font-hairline mt-2"><a class="underline" href="">Click here</a> if you’re interested in a group membership for your org.</p>
                  </div>
                </div>
                <div class="w-full flex pt-2">
                  <div class="flex flex-col w-full pl-3">
                    <p class="font-bold text-sm">Group memberships</p>
                    <p class="text-xs font-hairline mt-2"><a class="underline" href="">Get a handy template</a> you can copy+paste for your boss.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </section>
  <section>
    <div class="mb-5">
      <h3 class="mb-3 text-md font-bold p-6">Slider</h3>
    </div>
    <div class="text-center pb-12 md:pb-32">
      <h2 class="c-sub-title">Don’t take our word for it.</h2>
    </div>
    <div class="slider pb-12">
      <div class="item">
        <h3 class="title">Convincing Testimonial</h3>
        <div class="info">
          <p class="text">“Etiam porta sem malesuada magna mollis euismod. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam”</p>
          <div class="flex items-center mt-2">
            <div class="c-curator--circle border-color--blue">
              <span class="text-xs color--blue">KM</span>
            </div>
            <span class="c-curator--text color--blue">Kathryn Murphy, CEO of X</span>
          </div>
        </div>
      </div>
      <div class="item">
        <h3 class="title">Irrefutable Testimonial</h3>
        <div class="info opacity-25">
          <p class="text">“Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.”</p>
          <div class="flex items-center mt-2">
            <div class="c-curator--circle border-color--blue">
              <span class="text-xs color--blue">KM</span>
            </div>
            <span class="c-curator--text color--blue">Kathryn Murphy, CEO of X</span>
          </div>
        </div>
      </div>
      <div class="item">
        <h3 class="title">Convincing Testimonial</h3>
        <div class="info">
          <p class="text">“Etiam porta sem malesuada magna mollis euismod. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam”</p>
          <div class="flex items-center mt-2">
            <div class="c-curator--circle border-color--blue">
              <span class="text-xs color--blue">KM</span>
            </div>
            <span class="c-curator--text color--blue">Kathryn Murphy, CEO of X</span>
          </div>
        </div>
      </div>
      <div class="item">
        <h3 class="title">Convincing Testimonial</h3>
        <div class="info">
          <p class="text">“Etiam porta sem malesuada magna mollis euismod. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam”</p>
          <div class="flex items-center mt-2">
            <div class="c-curator--circle border-color--blue">
              <span class="text-xs color--blue">KM</span>
            </div>
            <span class="pl-2 text-sm font-bold whitespace-no-wrap pr-2 color--blue">Kathryn Murphy, CEO of X</span>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-5">
      <h3 class="mb-3 text-md font-bold p-6">Slider two</h3>
    </div>
    <div class="slider--two">
      <div class="slider--two__content">
        <div class="item">
          <img class="w-full" src="./static/img/slider-item.jpeg" alt="">
          <div class="flex">
            <div class="flex items-center bg-black px-1 bg-hover max-w-md bg-hover bg-hover title">
              <h3 class="text-md text-white md:text-2xl">
                Thousand Fell
              </h3>
              <i class="icon-eye ml-2 text-3xl text-white"></i>
            </div>
          </div>
          <div class="border border-solid border-black p-2 inline-block">
            <p>
              Recyclable sneakers for a better tomorrow.
            </p>
          </div>
        </div>
        <div class="item">
          <img class="w-full" src="./static/img/slider-item.jpeg" alt="">
          <div class="flex">
            <div class="flex items-center bg-black px-1 bg-hover max-w-md bg-hover bg-hover title">
              <h3 class="text-md text-white md:text-2xl">
                Thousand Fell
              </h3>
              <i class="icon-eye ml-2 text-3xl text-white"></i>
            </div>
          </div>
          <div class="border border-solid border-black p-2 inline-block">
            <p>
              An innovative veterinary platform building a new kind of veterinary experience for animals and humans.
            </p>
          </div>
        </div>
        <div class="item opacity-25">
          <img class="w-full" src="./static/img/slider-item.jpeg" alt="">
          <div class="flex">
            <div class="flex items-center bg-black px-1 bg-hover max-w-md bg-hover bg-hover title">
              <h3 class="text-md text-white md:text-2xl">
                Thousand Fell
              </h3>
              <i class="icon-eye ml-2 text-3xl text-white"></i>
            </div>
          </div>
          <div class="border border-solid border-black p-2 inline-block">
            <p>
              Recyclable sneakers for a better tomorrow.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-img--full py-12 flex items-center md:py-56">
    <div class="container mx-auto">
      <div class="md:grid md:grid-cols-12 gap-4">
        <div class="md:col-start-3 md:col-span-10 lg:col-start-5 lg:col-span-4">
          <p class="text-white text-xl pb-8">Become a member to enter the 🐇 🕳</p>
          <div class="pb-8">
            <button class="bkg--blue2 c-btn--secondary w-full">Join Annual $15/mo <span class="text-xs">($180/yr)</span></button>
          </div>
          <div>
            <button class="c-btn--white w-full">Join Monthly $20/mo</span></button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-img box-black">
    <div class="container mx-auto">
      <div class="md:grid md:grid-cols-12 gap-4 py-12 md:py-20">
        <div class="col-span-12 mb-8">
          <p
            class="c-title text-white leading-none text-center mt-3 md:p-0"
          >
            One membership. Everything you need.
          </p>
        </div>
        <div class="col-span-4 box-1">
          <div class="w-full p-4 md:pr-6">
            <div class="mt-2">
              <div class="flex">
                <div class="flex items-center bg-white px-1">
                  <h3 class="c-card--title text-md">
                    Another Title of this Quote
                  </h3>
                </div>
              </div>
              <div>
                <div
                  class="c-card--box max-h--200"
                >
                  <p class="text-white">
                    Trust a community of curators and thinkers who sift through the best blogs, Twitter threads, podcasts, and videos so you don’t have to.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-span-4 box-2">
          <div class="w-full p-4 md:pr-6">
            <div class="mt-2">
              <div class="flex">
                <div class="flex items-center bg-white px-1">
                  <h3 class="c-card--title text-md">
                    Another Title of this Quote
                  </h3>
                </div>
              </div>
              <div>
                <div
                  class="c-card--box max-h--200"
                >
                  <p class="text-white">
                    Explore a curated collection of startups, content, people, and topics and flow between them based on their connections
                  </p>
                </div>
              </div>
            </div>
          </div>
          <span class="icon icon-eye"></span>
        </div>
        <div class="col-span-4 box-1">
          <div class="w-full p-4 md:pr-6">
            <div class="mt-2">
              <div class="flex">
                <div class="flex items-center bg-white px-1">
                  <h3 class="c-card--title text-md">
                    Another Title of this Quote
                  </h3>
                </div>
              </div>
              <div>
                <div
                  class="c-card--box max-h--200"
                >
                  <p class="text-white">
                    We show you highlights so you get the key insights in minutes, not hours. (Because nobody wants a long list of links.)
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-span-4">
          <div class="w-full p-4 md:pr-6">
            <div class="mt-2">
              <div class="flex">
                <div class="flex items-center bg-white px-1">
                  <h3 class="c-card--title text-md">
                    Another Title of this Quote
                  </h3>
                </div>
              </div>
              <div>
                <div
                  class="c-card--box max-h--200"
                >
                  <p class="text-white">
                    Be inspired by serendipitous knowledge when you need creative raw material, supporting research, or a shot of inspiration.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-span-4">
          <div class="w-full p-4 md:pr-6">
            <div class="mt-2">
              <div class="flex">
                <div class="flex items-center bg-white px-1">
                  <h3 class="c-card--title text-md">
                    Another Title of this Quote
                  </h3>
                </div>
              </div>
              <div>
                <div
                  class="c-card--box max-h--200"
                >
                  <p class="text-white">
                    Discover  the people behind the scenes at up-and-coming startups  — the studio that designed the site, the angel investor that wrote the check,  the freelance copywriter, and others who are rarely showcased to the outside world.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-span-4">
          <div class="w-full p-4 md:pr-6">
            <div class="mt-2">
              <div class="flex">
                <div class="flex items-center bg-white px-1">
                  <h3 class="c-card--title text-md">
                    Another Title of this Quote
                  </h3>
                </div>
              </div>
              <div>
                <div
                  class="c-card--box max-h--200"
                >
                  <p class="text-white">
                    Track what the smartes minds are saying and reading about the most relevant topics in a searchable, organized way
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container mx-auto md:p-6">
    <div class="mb-5">
      <h3 class="mb-3 text-md font-bold">Block randon</h3>
    </div>
    <div class="block-randon">
      <div class="section-1">
        <div class="block-1">
          <div class="text">
            <div class="flex items-center bg-black px-1 bg-hover max-w-content bg-hover bg-hover">
              <h3 class="text-white text-2xl hidden md:block">
                This is for you if you care about...
              </h3>
              <h3 class="text-white text-2xl md:hidden">
                If you care about...
              </h3>
            </div>
            <div class="box-1">
              <span class="nro">1</span>
              <p class="leading-4 md:text-2xl md:leading-7">What should I read to learn about the evolution of the <a href="" class="color--blue">creator economy</a> and <a href="" class="color--blue">creator monetization?</a></p>
            </div>
          </div>
          <img class="hidden md:block" src="./static/img/elipse.png" alt="">
        </div>
        <div class="block-2">
          <div class="box-2">
            <p class="leading-4">What should I read to learn about the evolution of the <a href="" class="color--blue">creator economy</a> and <a href="" class="color--blue">creator monetization?</a></p>
            <span class="nro">19</span>
          </div>
          <div class="box-1-mobile">
            <div class="box-2">
              <span class="nro">314</span>
              <p class="leading-4">What should I read to learn about the evolution of the <a href="" class="color--blue">creator economy</a> and <a href="" class="color--blue">creator monetization?</a></p>
            </div>
            <img class="md:hidden" src="./static/img/elipse.png" alt="">
          </div>
        </div>
      </div>
      <div class="section-2">
        <div class="block-1">
          <img src="./static/img/memphis.jpeg" alt="">
          <div class="box-1">
            <span class="nro">1.8</span>
            <p class="text-2xl leading-7">Why are we seeing a resurgence in <a href="" class="color--blue">online communities</a> and <a href="" class="color--blue">vertical social networks?</a></p>
          </div>
        </div>
        <div class="block-2">
          <div class="box-2">
            <p class="leading-4">What are the narratives driving <a href="" class="color--blue">the future of media?</a></p>
            <span class="nro">5</span>
          </div>
          <div class="box-2 box-r-mobile">
            <span class="nro">6</span>
            <p class="leading-4">Why are we witnessing a <a href="" class="color--blue">rise in newsletters?</a></p>
          </div>
        </div>
      </div>
      <div class="section-3">
        <div class="block-1">
          <div class="text">
            <div class="box-1">
              <p class="text-2xl leading-7"><b>Who did the branding for your favorite consumer brand?</b></p>
              <span class="nro">7</span>
            </div>
            <img class="hidden md:block" src="./static/img/elipse.png" alt="">
          </div>
          <img class="hidden md:block" src="./static/img/memphis-2.jpeg" alt="">
        </div>
        <div class="block-2">
          <div class="box-2">
            <span class="nro">8</span>
            <p class="leading-4">What is driving the <a href="" class="color--blue">consumerization of healthcare?</a></p>
          </div>
          <div class="text-2">
            <div class="box-2-mobile">
              <div class="box-1">
                <span class="nro">1</span>
                <p class="text-2xl leading-7">Who is investing in <a href="" class="color--blue">DNVBs?</a></p>
              </div>
              <img class="md:hidden" src="./static/img/elipse.png" alt="">
            </div>
            <img class="hidden md:block" src="./static/img/memphis-3.jpeg" alt="">
            <img class="bg-mobile-full md:hidden" src="./static/img/memphis-2.jpeg" alt="">
          </div>
        </div>
      </div>
      <div class="section-4">
        <div class="box-2">
          <span class="nro">10</span>
          <p class="leading-4">What are the most interesting <a href="" class="color--blue">digital wellness apps?</a></p>
        </div>
        <div class="box-2 box-mobile-2">
          <span class="nro">...</span>
          <p>and....</p>
        </div>
        <div class="hidden flex items-center bg-black px-1 bg-hover max-w-content bg-hover bg-hover md:block">
          <h3 class="text-white text-2xl">
            <p>and</p> <span>...</span>
          </h3>
        </div>
        <div class="flex box-mobile-3 items-center bg-black px-1 bg-hover max-w-content bg-hover bg-hover md:hidden">
          <h3 class="text-white text-2xl">
            ... then Startupy is for you.
          </h3>
        </div>
      </div>
    </div>
  </section>

  <section class="container mx-auto md:p-6">
    <div class="mb-5">
      <h3 class="mb-3 text-md font-bold">Nominated Creation</h3>
    </div>
    <div class="grid md:grid-cols-2">
      <div class="c-preview">
        <img class="c-preview--img" src="./static/img/nominated.jpeg" alt="preview">
        <p class="c-preview--icon">🐇 🕳</p>
      </div>
      <div class="py-5 px-10">
        <h3 class="font-bold text-2xl mb-2">You’ve been Nominated!</h3>
        <p>Create an account to become a contributing member of the Startupy community.</p>
        <div class="pt-10 pb-2">
          <p class="text-sm font-bold mb-1">Email address</p>
          <input class="c-input" type="text" name="" id="">
        </div>
        <div class="pb-4">
          <button class="w-full c-btn--primary">Create Account</button>
        </div>
        <div class="pt-8">
          <p class="text-xs font-bold pb-3">Join now and get unlimited access:</p>
          <ul class="list-disc text-sm pl-4">
            <li class="pb-2">Unrestricted access to the Startupy database</li>
            <li class="pb-2">Unlimited search</li>
            <li class="pb-2">Get listed in our Member Directory</li>
            <li class="pb-2">Join our private network (by invitation only)</li>
          </ul>
          <a class="text-sm underline" href="">Learn more</a>
        </div>
      </div>
    </div>

    <div class="mb-5">
      <div class="md:grid grid-cols-6 gap-4 mb-2">
        <div class="md:col-start-2 col-span-4">
          <div class="p-4 md:p-5">
            <h3 class="c-sub-title">🐇 🕳</h3>
            <div class="mb-10 md:mb-0">
              <div class="border-solid border border-black py-10 px-8">
                <h4 class="text-2xl font-bold mb-2">An invite to join Startupy</h4>
                <p class="mb-4">At euismod eros porta morbi donec sed nisi. Nunc gravida sed et, velit. Purus, sit a ut porta id faucibus donec neque donec. Egestas at sagittis, mauris est justo, magna etiam justo dolor. Sem eu magna cras ut vitae elit lobortis neque ultrices.</p>
                <p class="mb-4">In aliquam consectetur a, nibh sit. Eu risus purus ut sit venenatis mauris turpis accumsan. Proin natoque ultrices nunc quis urna dignissim. Donec lorem risus, nunc bibendum. Tincidunt accumsan risus, see our membership page.</p>
                <p class="mb-4">Iaculis nulla ipsum ac ultricies at nam vel amet. Erat ante suspendisse mus etiam ut nunc. Porta varius ullamcorper pellentesque interdum orci cras suspendisse faucibus leo. Aenean turpis iaculis elementum, risus eu. Nec phasellus condimentum amet nunc nibh morbi vestibulum. Et nulla morbi in nunc, sollicitudin.</p>
                <p class="mb-4">Vehicula a varius pretium sit. Faucibus pretium tristique praesent morbi. Amet, consectetur et, feugiat tempor viverra. Orci sagittis ipsum facilisi turpis est. Mollis commodo tortor urna ut eu cursus morbi suspendisse. Lectus aliquet lectus id faucibus lectus quam. Lacus aenean sem.</p>
                <div class="pt-12">
                  <img class="mb-2" src="./static/img/firma.svg" alt="">
                  <p>Sari Azout</p>
                  <p class="text-xs">Founder</p>
                </div>
              </div>
              <div class="md:grid grid-cols-6 gap-4 pt-10">
                <div class="md:col-start-2 col-span-4">
                  <div class="pt-10 pb-2">
                    <p class="text-sm font-bold mb-1">Email address</p>
                    <input class="c-input" type="text" name="" id="">
                  </div>
                  <div class="pb-4">
                    <button class="w-full c-btn--primary">Become a Curator</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{%- endblock %}

{% block scripts %}
{%- endblock %}