{% extends "_layout.html" %}

{% block title %}Welcome to Clay v3{% endblock %}

{% block head %}
{%- endblock %}

{% block content %}
<header class="c-header">
  <div class="c-header--top items-center justify-between flex">
    <a class="pl-4 text-xl" href=""><h1 class="ff-conv-PxGrotesk text-white">Startupy</h1></a>
    <div>
      <a class="text-white p-2 font-bold" href="">Our Manifesto</a>
      <a class="text-white p-2 font-bold" href="">Join Membership</a>
      <a class="text-white p-2 pr-4 font-bold" href="">Login</a>
    </div>
  </div>
</header>
<main>
  <p>wnas</p>
</main>
{%- endblock %}

{% block scripts %}
{%- endblock %}