{% extends "_layout.html" %}

{% block title %}Startupy{% endblock %}

{% block head %}
{%- endblock %}

{% block content %}
<header class="c-header">
  <div class="c-header--top items-center justify-between flex">
    <a class="pl-4 text-xl" href=""><h1 class="ff-conv-PxGrotesk text-white">Startupy</h1></a>
    <div>
      <a class="text-white p-2 font-bold text-xs" href="">Our Manifesto</a>
      <a class="text-white p-2 font-bold text-xs" href="">Join Membership</a>
      <a class="text-white p-2 pr-4 font-bold text-xs" href="">Login</a>
    </div>
  </div>
</header>
<main>
  <section class="container mx-auto">
    <div class="grid md:grid-cols-2">
      <div class="p-5">
        <div class="flex items-center">
          <div class="border-solid border border-gray-600 rounded-full h-8 w-8 flex items-center justify-center">
            <span class="text-xs">JN</span>
          </div>
          <span class="pl-2 text-sm font-bold">Josh N.</span>
        </div>
        <div class="mt-5 c-preview"> 
          <img class="c-preview--img" src="./static/img/web.jpg" alt="preview">
          <div class="flex mt-5 items-center flex-wrap">
            <span class="color--blue bkg--blue-transparent px-2 py-1 mr-2 mb-2">Femtech</span>
            <span class="color--blue bkg--blue-transparent px-2 py-1 mr-2 mb-2">API Startups</span>
            <span class="color--blue bkg--blue-transparent px-2 py-1 mr-2 mb-2">Artificial Intelligence</span>
            <span class="color--blue bkg--blue-transparent px-2 py-1 mr-2 mb-2">Sleep Tech</span>
            <span class="color--blue bkg--blue-transparent px-2 py-1 mr-2 mb-2">Carbon Offsetting + Carbon Removal</span>
            <span class="color--blue bkg--blue-transparent px-2 py-1 mr-2 mb-2">Primary Care</span>
            <span class="color--blue bkg--blue-transparent px-2 py-1 mr-2 mb-2">Ecommerce + Retail</span>
            <span class="color--blue bkg--blue-transparent px-2 py-1 mr-2 mb-2">Future of VC</span>
            <div class="flex color--gray cursor-pointer items-center mr-2 mb-2">
              <i class="icon-add text-2xl"></i>
              <span class="ml-2 text-xs">No known Topics, add one!</span>
            </div>
          </div>
        </div>
      </div>
      <div class="p-5">
        <div class="flex justify-between items-center mt-3">
          <div class="flex items-center color--gray font-bold">
            <i class="icon-eye text-base"></i>
            <span class="ml-2 text-xs">fabric-skincare</span>
          </div>
          <span class="color--gray font-bold text-xs">Claim This Business</span>
        </div>
        <div class="mt-6">
          <div class="flex items-center">
            <h2 class="text-4xl font-bold">Fabric Skincare</h2>
            <i class="icon-eye text-4xl ml-3"></i>
          </div>
          <p class="text-xs color--gray">Last Updated: Jul 25, 2020</p>
        </div>
        <div class="my-8">
          <p>High-quality skincare basics at an incredible value.</p>
        </div>
        <div class="flex mb-8 items-center">
          <div class="mr-4 md:mr-8">
            <span class="font-bold text-xs">Status</span>
            <p>Prelaunch</p>
          </div>
          <div class="mr-4 md:mr-8">
            <span class="font-bold text-xs">Founded</span>
            <p>2019</p>
          </div>
          <div class="mr-4 md:mr-8">
            <span class="font-bold text-xs">Location</span>
            <p>USA</p>
          </div>
          <div class="mr-4 md:mr-8">
            <span class="font-bold text-xs">Funding</span>
            <p>$1M</p>
          </div>
        </div>
        <div class="flex mb-12 items-center flex-wrap">
          <a class="text-xs font-bold mr-8" href="">
            <i class="icon-link"></i>
            <span>fabricskincare.com</span>
          </a>
          <a class="text-xs font-bold mr-8" href="">
            <i class="icon-twitter"></i>
            <span>hifabric</span>
          </a>
          <a class="text-xs font-bold mr-8 color--gray" href="">
            <span>+ Add Link</span>
          </a>
        </div>
        <div class="border-solid border-t pt-2">
          <div class="flex items-center">
            <span class="text-xs font-bold">Credicts</span>
            <i class="icon-info color--gray text-sm pl-1"></i>
          </div>
          <div class="grid lg:grid-cols-2 mt-2">
            <div>
              <div class="flex mb-2">
                <p class="flex bkg--yellow-transparent px-2 py-1">
                  <span class="mr-2">Eleanor Pena</span>
                  <span class="text-xs bg-yellow-400 px-2 py-1">Founder</span>
                </p>
              </div>
              <div class="flex mb-2">
                <p class="flex bkg--yellow-transparent px-2 py-1">
                  <span class="mr-2">Kathryn Murphy</span>
                  <span class="text-xs bg-yellow-400 px-2 py-1">Founder</span>
                </p>
              </div>
              <div class="flex mb-2">
                <p class="flex bkg--yellow-transparent px-2 py-1">
                  <span class="mr-2">Fuzzco</span>
                  <span class="text-xs bg-yellow-400 px-2 py-1">Founder</span>
                </p>
              </div>
              <div class="flex mb-2">
                <p class="flex bkg--yellow-transparent px-2 py-1">
                  <span class="mr-2">Sequioa Capital</span>
                  <span class="text-xs bg-yellow-400 px-2 py-1">Founder</span>
                </p>
              </div>
            </div>
            <div>
              <div class="flex mb-2">
                <p class="flex bkg--purple-transparent px-2 py-1">
                  <span class="mr-2 color--purple">Amazon</span>
                  <span class="text-xs bkg--purple px-2 py-1 text-white">Investor</span>
                </p>
              </div>
              <div class="flex mb-2">
                <p class="flex bkg--yellow-transparent px-2 py-1">
                  <span class="mr-2">Kathryn Murphy</span>
                  <span class="text-xs bg-yellow-400 px-2 py-1">Founder</span>
                </p>
              </div>
              <div class="flex color--gray cursor-pointer items-center mr-2 mb-2">
                <i class="icon-add text-2xl"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="border-solid border-t mt-10">
    <div class="container mx-auto">
      <div class="grid md:grid-cols-2">
        <div class="p-5 pt-6 md:border-r border-solid">
          <div class="flex">
            <p class="mr-10">Mentioned In <span class="color--gray">5</span></p>
            <i class="icon-add text-2xl color--gray cursor-pointer"></i>
          </div>
          <div>
            <div class="flex mt-6 items-center justify-between">
              <div class="flex items-center">
                <div class="border-solid border border-gray-600 rounded-full h-8 w-8 flex items-center justify-center">
                  <span class="text-xs">JN</span>
                </div>
                <span class="pl-2 text-sm font-bold whitespace-no-wrap pr-2">Josh N.</span>
              </div>
              <a class="text-xs font-bold" href="">
                <i class="icon-link"></i>
                <span>orbuch.com/carbon-removal/</span>
              </a>
            </div>
            <div class="flex mt-5 items-center flex-wrap">
              <span class="color--blue bkg--blue-transparent px-2 py-1 mr-2 mb-2 text-sm">Sustainability & Climate Change</span>
              <span class="color--blue bkg--blue-transparent px-2 py-1 mr-2 mb-2 text-sm">Carbon Offsetting and Carbon Removal</span>
              <span class="color--blue bkg--blue-transparent px-2 py-1 mr-2 mb-2 text-sm">Future of Fashion</span>
              <span class="color--blue bkg--blue-transparent px-2 py-1 mr-2 mb-2 text-sm">Sustainable Brands</span>
              <span class="color--blue bkg--blue-transparent px-2 py-1 mr-2 mb-2 text-sm">Sustainable Fashion</span>
              <a class="font-bold text-xs mr-2 mb-2 color--gray" href="">+3 more</a>
              <div class="flex color--gray cursor-pointer items-center mr-2 mb-2">
                <i class="icon-add text-2xl"></i>
              </div>
            </div>
            <div class="mt-2">
              <div class="flex">
                <div class="flex items-center bg-black px-1">
                  <h3 class="text-2xl font-bold text-white">We need to take CO2 out of the sky</h3>
                  <i class="icon-eye ml-2 text-3xl text-white"></i>
                </div>
              </div>
              <div class="border border-solid border-black p-2 max-h--200 overflow-auto">
                <div class="flex mb-6">
                  <span class="text-sm font-bold">Ryan Orbuch</span>
                  <span class="text-sm color--gray ml-2">Mar 25, 2020 5min</span>
                </div>
                <span class="color--gray text-xs font-bold">TL;DR</span>
                <p>"0-gigaton-scale negative emissions are necessary in essentially every emissions reduction scenario. We have no choice but to fund, research, and deploy them if we’re serious about keeping warming to 2 degrees; or close to it. We are not even close to on track. Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient monte</p>
              </div>
            </div>
            <div class="flex mt-5 items-center flex-wrap">
              <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm">Then I Met You</span>
              <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm">Fuzzco</span>
              <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm">Taschen</span>
              <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm">Dieux Skin</span>
              <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm">SkinTe</span>
              <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm">Crate & Barrel</span>
              <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm">Hansel From Basel</span>
              <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm">Need Supply</span>
              <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm">Another Co.</span>
              <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm">Yet While</span>
              <a class="font-bold text-xs mr-2 mb-2 color--gray" href="">+3 more</a>
              <div class="flex color--gray cursor-pointer items-center mr-2 mb-2">
                <i class="icon-add text-2xl"></i>
              </div>
            </div>
          </div>
          <div class="mt-16">
            <div class="flex mt-6 items-center justify-between">
              <div class="flex items-center">
                <div class="border-solid border border-gray-600 rounded-full h-8 w-8 flex items-center justify-center">
                  <span class="text-xs">JN</span>
                </div>
                <span class="pl-2 text-sm font-bold whitespace-no-wrap pr-2">Josh N.</span>
              </div>
              <a class="text-xs font-bold" href="">
                <i class="icon-link"></i>
                <span>wsj.com/articles/startups-that-offer-ne ...</span>
              </a>
            </div>
            <div class="flex mt-5 items-center flex-wrap">
              <span class="color--blue bkg--blue-transparent px-2 py-1 mr-2 mb-2 text-sm">Future of Housing</span>
              <div class="flex color--gray cursor-pointer items-center mr-2 mb-2">
                <i class="icon-add text-2xl"></i>
              </div>
            </div>
            <div class="mt-2">
              <div class="flex">
                <div class="flex items-center bg-black px-1 max-w-md">
                  <h3 class="text-2xl font-bold text-white">Startups that offer new paths to homeownership</h3>
                  <i class="icon-eye ml-2 text-3xl text-white"></i>
                </div>
              </div>
              <div class="border border-solid border-black p-2 max-h--200 overflow-auto">
                <div class="flex mb-6">
                  <span class="text-sm font-bold">Ryan Orbuch</span>
                  <span class="text-sm color--gray ml-2">Mar 25, 2020 5min</span>
                </div>
                <span class="color--gray text-xs font-bold">TL;DR</span>
                <p>"0-gigaton-scale negative emissions are necessary in essentially every emissions reduction scenario. We have no choice but to fund, research, and deploy them if we’re serious about keeping warming to 2 degrees; or close to it. We are not even close to on track. Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient monte</p>
              </div>
            </div>
            <div class="flex mt-5 items-center flex-wrap">
              <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm">Upequity</span>
              <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm">Flyhomes</span>
              <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm">ZeroDown</span>
              <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm">Divvy Homes</span>
              <div class="flex color--gray cursor-pointer items-center mr-2 mb-2">
                <i class="icon-add text-2xl"></i>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="flex p-5 pt-6">
            <p class="mr-10">Similar Companies <span class="color--gray">10</span></p>
            <i class="icon-add text-2xl color--gray cursor-pointer"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{%- endblock %}

{% block scripts %}
{%- endblock %}