{% extends "_layout.html" %}

{% block title %}Startupy{% endblock %}

{% block head %}
{%- endblock %}

{% block content %}

{%- include 'header.html' %}

<div class="bg-white tab-item container text-center mx-auto py-16 top-header">
    <div class="items-tabs md:grid md:grid-cols-11 mt-8 md:mt-12 tabs-active">
        <p class="font-bold md:col-start-5 md:col-span-3 lg:col-start-5 lg:col-span-3 text-center">No known mentions... add one.</p>
    </div>

    <img src="static/img/confused.gif" alt="" class="mt-16 mx-auto relative img-404" />
</div>

<div class="bg-white tab-item container text-center mx-auto py-16 top-header">
    <div class="items-tabs md:grid md:grid-cols-11 mt-8 md:mt-12 tabs-active">
        <p class="font-bold md:col-start-5 md:col-span-3 lg:col-start-5 lg:col-span-3 text-center">There’s nothing here yet ... add a similar company!</p>
    </div>

    <img src="static/img/scared.gif" alt="" class="mt-16 mx-auto relative img-404" />
</div>

<div class="bg-white tab-item container text-center mx-auto py-16 top-header">
    <div class="items-tabs md:grid md:grid-cols-11 mt-8 md:mt-12 tabs-active">
        <p class="font-bold md:col-start-5 md:col-span-3 lg:col-start-5 lg:col-span-3 text-center">There’s nothing here yet ... add content</p>
    </div>

    <img src="static/img/homer.gif" alt="" class="mt-16 mx-auto relative img-404" />
</div>

<div class="bg-white tab-item container text-center mx-auto py-16 top-header">
    <div class="items-tabs md:grid md:grid-cols-11 mt-8 md:mt-12 tabs-active">
        <p class="font-bold md:col-start-5 md:col-span-3 lg:col-start-5 lg:col-span-3 text-center">There’s nothing here yet ... add a relationship</p>
    </div>

    <img src="static/img/will.webp" alt="" class="mt-16 mx-auto relative img-404" />
</div>


<div class="bg-white tab-item container text-center mx-auto py-16 top-header">
    <div class="items-tabs md:grid md:grid-cols-11 mt-8 md:mt-12 tabs-active">
        <p class="font-bold md:col-start-5 md:col-span-3 lg:col-start-5 lg:col-span-3 text-center">No known relationships... <a href="" class="underline">nudge a curator</a></p>
    </div>

    <img src="static/img/will.webp" alt="" class="mt-16 mx-auto relative img-404" />
</div>







{%- include 'footer.html' %}

{%- endblock %}

{% block scripts %}
{%- endblock %}