{% extends "_layout.html" %}

{% block title %}Startupy{% endblock %}

{% block head %}
{%- endblock %}

{% block content %}

{%- include 'header.html' %}

<main>
  <section class="top-header">
    {%- include 'breadcrumb.html' %}
    <div class="container mx-auto">
      <div class="lg:grid grid-cols-6 gap-4">
        <div class="md:col-start-2 col-span-4">
          <div class="p-4 md:p-5">
            <div class="flex">
              <div>
                <div class="flex items-center justify-center lg:h-20 lg:w-20 mt-6">
                </div>
              </div>
              <div>
                <div class="flex items-center mb-4">
                  <h2 class="text-2xl leading-tight md:text-4xl font-bold pr-6">Carbon Offsetting and Carbon Removal</h2>
                  <i class="icon-eye-black text-4xl ml-3 color--blue"></i>
                </div>
                <div class="flex items-center color--gray">
                  <span class="text-xs">Last Updated: Jul 25, 2020</span>
                  <a class="text-xs ml-5 underline" href="">Changelog</a>
                </div>
                <div class="flex mb-8 mt-8 items-center">
                  <div class="mr-4 md:mr-8">
                    <span class="font-bold text-xs color--gray">Related Topics</span>
                    <div class="flex">
                      <div class="border-solid border border-black rounded-full h-8 w-8 flex items-center justify-center mr-3 mt-1">
                        <span class="text-xs font-bold">HR</span>
                      </div>
                      <div class="border-solid border border-black rounded-full h-8 w-8 flex items-center justify-center mr-3 mt-1">
                        <span class="text-xs font-bold">EE</span>
                      </div>
                      <div class="border-solid border border-black rounded-full h-8 w-8 flex items-center justify-center mr-3 mt-1">
                        <span class="text-xs font-bold">JN</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mb-6">
                  <span class="font-bold text-sm color--gray">Related Topics</span>
                  <div class="flex mt-2 items-center flex-wrap">
                    <span class="color--blue bkg--blue-transparent px-2 py-1 mr-2 mb-2 capitalize">Related Topics</span>
                    <span class="color--blue bkg--blue-transparent px-2 py-1 mr-2 mb-2 capitalize">Carbon Offsetting and Carbon Removal</span>
                    <span class="color--blue bkg--blue-transparent px-2 py-1 mr-2 mb-2 capitalize">Future of Fashion</span>
                    <span class="color--blue bkg--blue-transparent px-2 py-1 mr-2 mb-2 capitalize">Sustainable Brands</span>
                    <span class="color--blue bkg--blue-transparent px-2 py-1 mr-2 mb-2 capitalize">Sustainable Fashion</span>
                    <div class="flex color--gray cursor-pointer items-center mr-2 mb-2">
                      <i class="icon-add text-2xl"></i>
                    </div>
                  </div>
                </div>
                <div>
                  <span class="font-bold text-sm color--gray">Top Authors</span>
                  <div class="flex mt-2 items-center flex-wrap">
                    <span class="bkg--yellow-transparent px-2 py-1 mr-2 mb-2">Brooklyn Simmons</span>
                    <span class="bkg--yellow-transparent px-2 py-1 mr-2 mb-2">Jenny Wilson</span>
                    <span class="bkg--yellow-transparent px-2 py-1 mr-2 mb-2">Floyd Miles</span>
                    <span class="bkg--yellow-transparent px-2 py-1 mr-2 mb-2">Leslie Alexander</span>
                    <span class="bkg--yellow-transparent px-2 py-1 mr-2 mb-2">Courtney Henry</span>
                    <span class="bkg--yellow-transparent px-2 py-1 mr-2 mb-2">Darlene Robertson</span>
                    <span class="bkg--yellow-transparent px-2 py-1 mr-2 mb-2">Theresa Webb</span>
                    <div class="flex color--gray cursor-pointer items-center mr-2 mb-2">
                      <i class="icon-add text-2xl"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="border-solid border-t border-b mt-10">
    <div class="container mx-auto">
      <!-- Agregar clase Active para mostrar el search -->
      <div class="search p-5">
        <svg class="h-6 w-full search--icon md:w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          />
        </svg>
        <div class="search--content">
          <svg class="h-4 w-4 mr-3 color--gray" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
            />
          </svg>
          <input class="text-2xl focus:outline-none" type="text" placeholder="Search">
          <span class="color--blue bkg--blue-transparent px-2 py-1 ml-4">in: Sustainable Fashion</span>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container mx-auto">
      <div class="grid md:grid-cols-2">
        
        <div class="pl-4 pt-4 mt-2 md:hidden">
          <div class="flex items-center">
            <span>Connected Content</span>
            <svg class="h-4 w-4 ml-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"
              />
            </svg>
          </div>
        </div>
        
        <div class="p-4 pt-6 md:border-r border-solid md:p-5 select-item active">
          <div class="hidden md:flex">
            <p class="mr-10">Connected Content <span class="color--gray">5</span></p>
            <i class="icon-add text-2xl color--gray cursor-pointer" data-ref="#box1" data-modal-open></i>
          </div>
          <div class="g-modal" id="box1">
            <div class="g-modal-small g-modal__schedule">
              <div class="schedule-item--title">
                <h3 class="title mt-0 mb-10 c-black">Texto Dumy</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet finibus ligula. Proin iaculis lacus sit amet mi tempor, ac pulvinar est aliquam. Curabitur eget mattis nulla. Sed ut iaculis risus. Morbi in laoreet orci, quis ullamcorper lorem. Donec commodo dapibus eros at scelerisque. Suspendisse a velit efficitur, blandit quam vitae, pretium ante. Nunc venenatis lacus nec mi vulputate, ultrices ultricies nulla suscipit. Integer non arcu ac turpis consectetur ultrices. Vestibulum ullamcorper odio augue, in bibendum ligula lacinia molestie. Vestibulum quis nisl a tortor congue dignissim. Mauris vestibulum velit sed sagittis ultricies. Proin quis faucibus nunc.</p>
              </div>
            </div>
          </div>
          <div>
            <div class="flex mt-6 items-center justify-between">
              <div class="flex items-center">
                <div class="border-solid border border-gray-600 rounded-full h-8 w-8 flex items-center justify-center">
                  <span class="text-xs">JN</span>
                </div>
                <span class="pl-2 text-sm font-bold whitespace-no-wrap pr-2">Josh N.</span>
              </div>
              <div>
                <a class="text-xs font-bold mr-4" href="">
                  <i class="icon-link"></i>
                  <span>Share</span>
                </a>
                <a class="text-xs font-bold" href="">
                  <i class="icon-share"></i>
                  <span>Visit</span>
                </a>
              </div>
            </div>
            <div class="flex mt-5 items-center flex-wrap">
              <span class="color--blue bkg--blue-transparent px-2 py-1 mr-2 mb-2 capitalize text-sm capitalize">Sustainability & Climate Change</span>
              <span class="color--blue bkg--blue-transparent px-2 py-1 mr-2 mb-2 capitalize text-sm capitalize">Carbon Offsetting and Carbon Removal</span>
              <span class="color--blue bkg--blue-transparent px-2 py-1 mr-2 mb-2 capitalize text-sm capitalize">Future of Fashion</span>
              <span class="color--blue bkg--blue-transparent px-2 py-1 mr-2 mb-2 capitalize text-sm capitalize">Sustainable Brands</span>
              <span class="color--blue bkg--blue-transparent px-2 py-1 mr-2 mb-2 capitalize text-sm capitalize">Sustainable Fashion</span>
              <a class="font-bold text-xs mr-2 mb-2 color--gray" href="">+3 more</a>
              <div class="flex color--gray cursor-pointer items-center mr-2 mb-2">
                <i class="icon-add text-2xl"></i>
              </div>
            </div>
            <div class="mt-2">
              <div class="flex">
                <div class="flex items-center bg-black px-1">
                  <h3 class="text-md text-white md:text-2xl">We need to take CO2 out of the sky</h3>
                  <i class="icon-eye ml-2 text-3xl text-white"></i>
                </div>
              </div>
              <div class="fade-out">
                <div class="border border-solid border-black p-2 max-h--200 overflow-auto">
                  <div class="flex mb-6">
                    <span class="text-sm font-bold">Ryan Orbuch</span>
                    <span class="text-sm color--gray ml-2">Mar 25, 2020 5min</span>
                  </div>
                  <span class="color--gray text-xs font-bold">TL;DR</span>
                  <p>"0-gigaton-scale negative emissions are necessary in essentially every emissions reduction scenario. We have no choice but to fund, research, and deploy them if we’re serious about keeping warming to 2 degrees; or close to it. We are not even close to on track. Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient monte</p>
                </div>
              </div>
              <div>
                <img class="w-full" src="./static/img/bk-box.png" alt="">
              </div>
            </div>
            <div class="flex mt-5 items-center flex-wrap">
              <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm capitalize">Then I Met You</span>
              <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm capitalize">Fuzzco</span>
              <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm capitalize">Taschen</span>
              <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm capitalize">Dieux Skin</span>
              <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm capitalize">SkinTe</span>
              <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm capitalize">Crate & Barrel</span>
              <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm capitalize">Hansel From Basel</span>
              <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm capitalize">Need Supply</span>
              <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm capitalize">Another Co.</span>
              <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm capitalize">Yet While</span>
              <a class="font-bold text-xs mr-2 mb-2 color--gray" href="">+3 more</a>
              <div class="flex color--gray cursor-pointer items-center mr-2 mb-2">
                <i class="icon-add text-2xl"></i>
              </div>
            </div>
          </div>
          <div class="mt-16">
            <div class="flex mt-6 items-center justify-between">
              <div class="flex items-center">
                <div class="border-solid border border-gray-600 rounded-full h-8 w-8 flex items-center justify-center">
                  <span class="text-xs">JN</span>
                </div>
                <span class="pl-2 text-sm font-bold whitespace-no-wrap pr-2">Josh N.</span>
              </div>
              <div>
                <a class="text-xs font-bold mr-4" href="">
                  <i class="icon-link"></i>
                  <span>Share</span>
                </a>
                <a class="text-xs font-bold" href="">
                  <i class="icon-share"></i>
                  <span>Visit</span>
                </a>
              </div>
            </div>
            <div class="flex mt-5 items-center flex-wrap">
              <span class="color--blue bkg--blue-transparent px-2 py-1 mr-2 mb-2 capitalize text-sm capitalize">Future of Housing</span>
              <div class="flex color--gray cursor-pointer items-center mr-2 mb-2">
                <i class="icon-add text-2xl"></i>
              </div>
            </div>
            <div class="mt-2">
              <div class="flex">
                <div class="flex items-center bg-black px-1 md:max-w-md">
                  <h3 class="text-md text-white md:text-2xl">Startups that offer new paths tohomeownership</h3>
                  <i class="icon-eye ml-2 text-3xl text-white"></i>
                </div>
              </div>
              <div class="fade-out">
                <div class="border border-solid border-black p-2 max-h--200 overflow-auto">
                  <div class="flex mb-6">
                    <span class="text-sm font-bold">Ryan Orbuch</span>
                    <span class="text-sm color--gray ml-2">Mar 25, 2020 5min</span>
                  </div>
                  <span class="color--gray text-xs font-bold">TL;DR</span>
                  <p class="pb-3">"0-gigaton-scale negative emissions are necessary in essentially every emissions reduction scenario. We have no choice but to fund, research, and deploy them if we’re serious about keeping warming to 2 degrees; or close to it. We are not even close to on track. Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient monte</p>
                </div>
              </div>
              <div>
                <img src="./static/img/bk-box.png" alt="">
              </div>
            </div>
            <div class="flex mt-5 items-center flex-wrap">
              <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm capitalize">Upequity</span>
              <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm capitalize">Flyhomes</span>
              <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm capitalize">ZeroDown</span>
              <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm capitalize">Divvy Homes</span>
              <div class="flex color--gray cursor-pointer items-center mr-2 mb-2">
                <i class="icon-add text-2xl"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="select-item">
          <div class="p-5 pt-6 pb-0 hidden md:flex">
            <p class="mr-10">Connected Companies <span class="color--gray">10</span></p>
            <i class="icon-add text-2xl color--gray cursor-pointer"></i>
          </div>
          <div>
            <div class="flex border-solid border-b p-5 hidden md:flex">
              <div class="box-img flex items-center justify-center bg-black">
                <span class="text-white font-bold">CS</span>
              </div>
              <div class="pl-4">
                <div class="flex items-center flex-wrap">
                  <p class="font-bold mr-3">
                    BioClarity
                  </p>
                  <span class="text-xs bkg--green px-2 py-1 mr-3">Public</span>
                  <span class="text-xs color--gray mr-3">Founded 2020</span>
                  <span class="text-xs color--gray mr-3">Chicago $1.2M</span>
                </div>
                <p>Compression socks for men and women, designed to reduce soreness and swelling.</p>
              </div>
            </div>
            <div class="border-solid border-b p-4 md:hidden">
              <div class="flex items-center">
                <div class="box-img flex items-center justify-center bg-black">
                  <span class="text-white font-bold">CS</span>
                </div>
                <p class="font-bold ml-3 mr-3 w-full">
                  BioClarity
                </p>
                <i class="icon-eye text-xl color--gray"></i>
              </div>
              <div class="pt-4">
                <div class="flex items-center flex-wrap mb-2">
                  <span class="text-xs bkg--green px-2 py-1 mr-3">Public</span>
                  <span class="text-xs color--gray mr-3">Founded 2020</span>
                  <span class="text-xs color--gray mr-3">Chicago $1.2M</span>
                </div>
                <p>Compression socks for men and women, designed to reduce soreness and swelling.</p>
              </div>
            </div>
          </div>
          <div>
            <div class="flex border-solid border-b p-5 hidden md:flex">
              <div class="box-img flex items-center justify-center bg-black">
                <span class="text-white font-bold">CS</span>
              </div>
              <div class="pl-4">
                <div class="flex items-center flex-wrap">
                  <p class="font-bold mr-3">
                    Brightside
                  </p>
                  <span class="text-xs bkg--yellow px-2 py-1 mr-3">Aquired</span>
                  <a class="text-xs font-bold color--gray mr-3 md:mt-0" href="">
                    <i class="icon-link"></i>
                    <span>brightside.com</span>
                  </a>
                  <i class="icon-eye text-xl color--gray"></i>
                </div>
                <p>Compression socks for men and women, designed to reduce soreness and swelling.</p>
              </div>
            </div>
            <div class="border-solid border-b p-4 md:hidden">
              <div class="flex items-center">
                <div class="box-img flex items-center justify-center bg-black">
                  <span class="text-white font-bold">CS</span>
                </div>
                <p class="font-bold ml-3 mr-3 w-full">
                  Mighty
                </p>
                <i class="icon-eye text-xl color--gray"></i>
              </div>
              <div class="pt-4">
                <div class="flex items-center flex-wrap mb-2">
                  <span class="text-xs bkg--pink px-2 py-1 mr-3">Post-mortem</span>
                  <a class="text-xs font-bold color--gray mr-3 md:mt-0" href="">
                    <i class="icon-link"></i>
                    <span>mighty.com</span>
                  </a>
                </div>
                <p>Compression socks for men and women, designed to reduce soreness and swelling.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="mt-2 hidden md:block">
      <div class="container mx-auto">
        <div class="md:grid grid-cols-8 gap-4 mt-8 md:mt-12">
          <div class="md:col-span-2">
            <div class="p-5">
              <p class="text-sm m-0">Filter by:</p>
              <ul class="mt-6 ml-3 mr-3">
                <li class="flex items-center cursor-pointer border-solid border-b py-4">
                  <span class="h-4 w-4 bg-black mr-2"></span>
                  <span class="mr-2">Topics</span>
                  <svg class="h-4 w-4 mr-3 color--gray" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M19 9l-7 7-7-7"
                    />
                  </svg>
                </li>
                <li class="flex items-center cursor-pointer border-solid border-b py-4">
                  <span class="h-4 w-4 bg-black mr-2"></span>
                  <span class="mr-2">Companies</span>
                  <svg class="h-4 w-4 mr-3 color--gray" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M19 9l-7 7-7-7"
                    />
                  </svg>
                </li>
                <li class="flex items-center cursor-pointer border-solid border-b py-4">
                  <span class="h-4 w-4 bg-black mr-2"></span>
                  <span class="mr-2">Content</span>
                </li>
                <li class="flex items-center cursor-pointer border-solid border-b py-4">
                  <span class="h-4 w-4 bg-black mr-2"></span>
                  <span class="mr-2">People</span>
                  <svg class="h-4 w-4 mr-3 color--gray" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M19 9l-7 7-7-7"
                    />
                  </svg>
                </li>
              </ul>
            </div>
          </div>
          <div class="md:col-span-6">
            <div class="p-5">
              <div>
                <ul class="flex overflow-auto pb-10 md:justify-end">
                  <li class="pr-6 pl-5 md:pl-0">
                    <span class="text-sm whitespace-no-wrap">Sort by:</span>
                  </li>
                  <li class="pr-6">
                    <a class="text-sm whitespace-no-wrap font-bold underline" href="#">Alphabetical</a>
                  </li>
                  <li class="pr-6">
                    <a class="text-sm whitespace-no-wrap" href="#">Date Added</a>
                  </li>
                  <li>
                    <a class="text-sm whitespace-no-wrap" href="#">Most Connected</a>
                  </li>
                </ul>
              </div>
              <div class="lg:ml-20">
                <div class="flex p-5 pt-0 pb-0">
                  <p class="mr-10"><span class="font-bold">10</span> Companies</p>
                </div>
                <div class="flex border-solid border-b p-5">
                  <div class="box-img flex items-center justify-center bg-black">
                    <span class="text-white font-bold">CS</span>
                  </div>
                  <div class="pl-4 lg:w-2/4">
                    <div class="flex items-center flex-wrap">
                      <p class="font-bold mr-3">
                        Comrad Socks
                      </p>
                      <span class="text-xs bkg--blue px-2 py-1 mr-3">Mature</span>
                      <a class="text-xs font-bold color--gray mr-3 md:mt-0" href="">
                        <i class="icon-link"></i>
                        <span>robert-fox</span>
                      </a>
                      <i class="icon-eye-black text-xl color--blue"></i>
                    </div>
                    <p>Compression socks for men and women, designed to reduce soreness and swelling.</p>
                  </div>
                </div>
                <div class="flex border-solid border-b p-5">
                  <div class="box-img flex items-center justify-center bg-black">
                    <span class="text-white font-bold">CS</span>
                  </div>
                  <div class="pl-4 lg:w-2/4">
                    <div class="flex items-center flex-wrap">
                      <p class="font-bold mr-3">
                        Mighty
                      </p>
                      <span class="text-xs bkg--pink px-2 py-1 mr-3">Post-mortem</span>
                      <a class="text-xs font-bold color--gray mr-3 md:mt-0" href="">
                        <i class="icon-link"></i>
                        <span>mighty.com</span>
                      </a>
                      <i class="icon-eye text-xl color--gray"></i>
                    </div>
                    <p>Compression socks for men and women, designed to reduce soreness and swelling.</p>
                  </div>
                </div>
                <div class="flex border-solid border-b p-5">
                  <div class="box-img flex items-center justify-center bg-black">
                    <span class="text-white font-bold">CS</span>
                  </div>
                  <div class="pl-4 lg:w-2/4">
                    <div class="flex items-center flex-wrap">
                      <p class="font-bold mr-3">
                        Comrad Socks
                      </p>
                      <span class="text-xs bkg--blue px-2 py-1 mr-3">Mature</span>
                      <a class="text-xs font-bold color--gray mr-3 md:mt-0" href="">
                        <i class="icon-link"></i>
                        <span>robert-fox</span>
                      </a>
                      <i class="icon-eye-black text-xl color--blue"></i>
                    </div>
                    <p>Compression socks for men and women, designed to reduce soreness and swelling.</p>
                  </div>
                </div>
                <div class="flex border-solid border-b p-5 pb-8">
                  <div class="box-img flex items-center justify-center bg-black">
                    <span class="text-white font-bold">CS</span>
                  </div>
                  <div class="pl-4 lg:w-2/4">
                    <div class="flex items-center flex-wrap">
                      <p class="font-bold mr-3">
                        Comrad Socks
                      </p>
                      <span class="text-xs bkg--blue px-2 py-1 mr-3">Mature</span>
                      <a class="text-xs font-bold color--gray mr-3 md:mt-0" href="">
                        <i class="icon-link"></i>
                        <span>robert-fox</span>
                      </a>
                      <i class="icon-eye text-xl color--gray"></i>
                    </div>
                    <p>Compression socks for men and women, designed to reduce soreness and swelling.</p>
                  </div>
                </div>
              </div>
              <div class="lg:ml-20 mt-8">
                <div class="flex">
                  <p class="mr-10"><span class="font-bold">4</span> Content</p>
                </div>
                <div class="g-modal" id="box1">
                  <div class="g-modal-small g-modal__schedule">
                    <div class="schedule-item--title">
                      <h3 class="title mt-0 mb-10 c-black">Texto Dumy</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet finibus ligula. Proin iaculis lacus sit amet mi tempor, ac pulvinar est aliquam. Curabitur eget mattis nulla. Sed ut iaculis risus. Morbi in laoreet orci, quis ullamcorper lorem. Donec commodo dapibus eros at scelerisque. Suspendisse a velit efficitur, blandit quam vitae, pretium ante. Nunc venenatis lacus nec mi vulputate, ultrices ultricies nulla suscipit. Integer non arcu ac turpis consectetur ultrices. Vestibulum ullamcorper odio augue, in bibendum ligula lacinia molestie. Vestibulum quis nisl a tortor congue dignissim. Mauris vestibulum velit sed sagittis ultricies. Proin quis faucibus nunc.</p>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="flex mt-6 items-center justify-between">
                    <div class="flex items-center">
                      <div class="border-solid border border-gray-600 rounded-full h-8 w-8 flex items-center justify-center">
                        <span class="text-xs">JN</span>
                      </div>
                      <span class="pl-2 text-sm font-bold whitespace-no-wrap pr-2">Josh N.</span>
                    </div>
                    <div>
                      <a class="text-xs font-bold mr-4" href="">
                        <i class="icon-link"></i>
                        <span>Share</span>
                      </a>
                      <a class="text-xs font-bold" href="">
                        <i class="icon-share"></i>
                        <span>Visit</span>
                      </a>
                    </div>
                  </div>
                  <div class="flex mt-5 items-center flex-wrap">
                    <span class="color--blue bkg--blue-transparent px-2 py-1 mr-2 mb-2 capitalize text-sm capitalize">Sustainability &amp; Climate Change</span>
                    <span class="color--blue bkg--blue-transparent px-2 py-1 mr-2 mb-2 capitalize text-sm capitalize">Carbon Offsetting and Carbon Removal</span>
                    <span class="color--blue bkg--blue-transparent px-2 py-1 mr-2 mb-2 capitalize text-sm capitalize">Future of Fashion</span>
                    <span class="color--blue bkg--blue-transparent px-2 py-1 mr-2 mb-2 capitalize text-sm capitalize">Sustainable Brands</span>
                    <span class="color--blue bkg--blue-transparent px-2 py-1 mr-2 mb-2 capitalize text-sm capitalize">Sustainable Fashion</span>
                    <a class="font-bold text-xs mr-2 mb-2 color--gray" href="">+3 more</a>
                    <div class="flex color--gray cursor-pointer items-center mr-2 mb-2">
                      <i class="icon-add text-2xl"></i>
                    </div>
                  </div>
                  <div class="mt-2">
                    <div class="flex">
                      <div class="flex items-center bg-black px-1">
                        <h3 class="text-md text-white md:text-2xl">We need to take CO2 out of the sky</h3>
                        <i class="icon-eye ml-2 text-3xl text-white"></i>
                      </div>
                    </div>
                    <div class="fade-out">
                      <div class="border border-solid border-black p-2 max-h--200 overflow-auto">
                        <div class="flex mb-6">
                          <span class="text-sm font-bold">Ryan Orbuch</span>
                          <span class="text-sm color--gray ml-2">Mar 25, 2020 5min</span>
                        </div>
                        <span class="color--gray text-xs font-bold">TL;DR</span>
                        <p>"0-gigaton-scale negative emissions are necessary in essentially every emissions reduction scenario. We have no choice but to fund, research, and deploy them if we’re serious about keeping warming to 2 degrees; or close to it. We are not even close to on track. Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient monte</p>
                      </div>
                    </div>
                    <div>
                      <img class="w-full" src="./static/img/bk-box.png" alt="">
                    </div>
                  </div>
                  <div class="flex mt-5 items-center flex-wrap">
                    <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm capitalize">Then I Met You</span>
                    <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm capitalize">Fuzzco</span>
                    <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm capitalize">Taschen</span>
                    <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm capitalize">Dieux Skin</span>
                    <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm capitalize">SkinTe</span>
                    <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm capitalize">Crate &amp; Barrel</span>
                    <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm capitalize">Hansel From Basel</span>
                    <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm capitalize">Need Supply</span>
                    <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm capitalize">Another Co.</span>
                    <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm capitalize">Yet While</span>
                    <a class="font-bold text-xs mr-2 mb-2 color--gray" href="">+3 more</a>
                    <div class="flex color--gray cursor-pointer items-center mr-2 mb-2">
                      <i class="icon-add text-2xl"></i>
                    </div>
                  </div>
                </div>
                <div class="mt-16">
                  <div class="flex mt-6 items-center justify-between">
                    <div class="flex items-center">
                      <div class="border-solid border border-gray-600 rounded-full h-8 w-8 flex items-center justify-center">
                        <span class="text-xs">JN</span>
                      </div>
                      <span class="pl-2 text-sm font-bold whitespace-no-wrap pr-2">Josh N.</span>
                    </div>
                    <div>
                      <a class="text-xs font-bold mr-4" href="">
                        <i class="icon-link"></i>
                        <span>Share</span>
                      </a>
                      <a class="text-xs font-bold" href="">
                        <i class="icon-share"></i>
                        <span>Visit</span>
                      </a>
                    </div>
                  </div>
                  <div class="flex mt-5 items-center flex-wrap">
                    <span class="color--blue bkg--blue-transparent px-2 py-1 mr-2 mb-2 capitalize text-sm capitalize">Future of Housing</span>
                    <div class="flex color--gray cursor-pointer items-center mr-2 mb-2">
                      <i class="icon-add text-2xl"></i>
                    </div>
                  </div>
                  <div class="mt-2">
                    <div class="flex">
                      <div class="flex items-center bg-black px-1 md:max-w-md">
                        <h3 class="text-md text-white md:text-2xl">Startups that offer new paths tohomeownership</h3>
                        <i class="icon-eye ml-2 text-3xl text-white"></i>
                      </div>
                    </div>
                    <div class="fade-out">
                      <div class="border border-solid border-black p-2 max-h--200 overflow-auto">
                        <div class="flex mb-6">
                          <span class="text-sm font-bold">Ryan Orbuch</span>
                          <span class="text-sm color--gray ml-2">Mar 25, 2020 5min</span>
                        </div>
                        <span class="color--gray text-xs font-bold">TL;DR</span>
                        <p class="pb-3">"0-gigaton-scale negative emissions are necessary in essentially every emissions reduction scenario. We have no choice but to fund, research, and deploy them if we’re serious about keeping warming to 2 degrees; or close to it. We are not even close to on track. Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient monte</p>
                      </div>
                    </div>
                    <div>
                      <img src="./static/img/bk-box.png" alt="">
                    </div>
                  </div>
                  <div class="flex mt-5 items-center flex-wrap">
                    <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm capitalize">Upequity</span>
                    <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm capitalize">Flyhomes</span>
                    <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm capitalize">ZeroDown</span>
                    <span class="color--purple bkg--purple-transparent px-2 py-1 mr-2 mb-2 text-sm capitalize">Divvy Homes</span>
                    <div class="flex color--gray cursor-pointer items-center mr-2 mb-2">
                      <i class="icon-add text-2xl"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="lg:ml-20 mt-8 border-solid border-t mt-16 pt-8">
                <div class="flex">
                  <p class="mr-10"><span class="font-bold">2</span> Startupy Members</p>
                </div>
                <div class="flex p-5 border-solid border-b md:py-5 md:px-0">
                  <div>
                    <div class="border-solid border border-gray-600 rounded-full flex items-center justify-center h-8 w-8 md:h-20 md:w-20 mt-1">
                      <span class="text-xs md:text-base">RF</span>
                    </div>
                  </div>
                  <div class="pl-4">
                    <div class="flex items-center flex-wrap">
                      <p class="font-bold mr-3">
                        Comrad Socks
                      </p>
                      <span class="text-xs bkg--blue px-2 py-1 mr-3">Mature</span>
                      <a class="text-xs font-bold color--gray mr-3 md:mt-0" href="">
                        <i class="icon-link"></i>
                        <span>robert-fox</span>
                      </a>
                      <i class="icon-eye text-xl color--gray"></i>
                    </div>
                    <p>Compression socks for men and women, designed to reduce soreness and swelling.</p>
                  </div>
                </div>
                <div class="flex p-5 border-solid border-b md:py-5 md:px-0">
                  <div>
                    <div class="border-solid border border-gray-600 rounded-full flex items-center justify-center h-8 w-8 md:h-20 md:w-20 mt-1">
                      <span class="text-xs md:text-base">RF</span>
                    </div>
                  </div>
                  <div class="pl-4">
                    <div class="flex items-center flex-wrap">
                      <p class="font-bold mr-3">
                        Comrad Socks
                      </p>
                      <span class="text-xs bkg--blue px-2 py-1 mr-3">Mature</span>
                      <a class="text-xs font-bold color--gray mr-3 md:mt-0" href="">
                        <i class="icon-link"></i>
                        <span>robert-fox</span>
                      </a>
                      <i class="icon-eye text-xl color--gray"></i>
                    </div>
                    <p>Compression socks for men and women, designed to reduce soreness and swelling.</p>
                  </div>
                </div>
              </div>
              <div class="lg:ml-20 mt-8 mt-16">
                <div class="flex">
                  <p class="mr-10"><span class="font-bold">2</span> People</p>
                </div>
                <div class="mt-6">
                  <div class="flex mb-2">
                    <p class="flex bkg--yellow-transparent px-2 py-1">
                      <span class="mr-2">Brooklyn Simmons</span>
                      <span class="text-xs bg-yellow-400 px-2 py-1 mr-1">Founder</span>
                      <span class="text-xs bg-yellow-400 px-2 py-1 mr-1">Author</span>
                      <span class="text-xs bg-yellow-400 px-2 py-1">Investor</span>
                    </p>
                  </div>
                  <div class="flex mb-2">
                    <p class="flex bkg--yellow-transparent px-2 py-1">
                      <span class="mr-2">Kathryn Murphy</span>
                      <span class="text-xs bg-yellow-400 px-2 py-1">Founder</span>
                    </p>
                  </div>
                  <div class="flex mb-2">
                    <p class="flex bkg--yellow-transparent px-2 py-1">
                      <span class="mr-2">Fuzzco</span>
                      <span class="text-xs bg-yellow-400 px-2 py-1">Founder</span>
                    </p>
                  </div>
                  <div class="flex mb-2">
                    <p class="flex bkg--yellow-transparent px-2 py-1">
                      <span class="mr-2">Sequioa Capital</span>
                      <span class="text-xs bg-yellow-400 px-2 py-1">Founder</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{%- include 'footer.html' %}

{%- endblock %}

{% block scripts %}
{%- endblock %}