{% extends "_layout.html" %} {% block title %}Startupy{% endblock %} {% block
head %} {%- endblock %} {% block content %}

<section>
  <div class="relative eyes-gif">
    <img src="./static/img/eyes.gif" alt="" />
    <h2 class="absolute-center text-center">Become a Member</h2>
  </div>
  <div class="container mx-auto md:p-6">
    <div class="mb-5">
      <div class="md:grid md:grid-cols-12 gap-4">
        <div class="md:col-start-2 md:col-span-10 lg:col-start-3 lg:col-span-8">
          <div class="p-4 md:p-5">
            <div class="pb-8 md:pb-16">
              <span class="color--blue text-sm font-bold"
                >Become a Member Today</span
              >
              <p class="c-title mt-3">
                <span class="ff-conv-PxGrotesk" id="myToogle">Startupy</span> is
                a curated information environment for
                <span class="color--blue" id="word-change">builders.</span>
              </p>
              <p class="c-title mt-3">
                We give you a sane way to stay up to speed on the pulse of new
                markets, ideas, and people.
              </p>
            </div>
            <div class="flex justify-center py-12">
              <div class="w-full flex">
                <div class="flex flex-col w-full pr-3">
                  <div class="flex items-center mb-2">
                    <span class="c-badge--small bkg--blue">Save 25%</span>
                  </div>
                  <div class="flex mb-6">
                    <p class="c-title leading-none pr-1">$15</p>
                    <p class="self-end color--gray text-sm">/month</p>
                  </div>
                  <div class="mb-10">
                    <button
                      class="bkg--blue2 text-white c-btn--secondary w-full"
                    >
                      Join Annual $15/mo <span class="text-xs">($180/yr)</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="w-full flex items-end">
                <div class="flex flex-col w-full pl-3">
                  <div class="flex mb-6">
                    <p class="c-title leading-none pr-1">$20</p>
                    <p class="self-end color--gray text-sm">/month</p>
                  </div>
                  <div class="mb-10">
                    <button
                      class="bkg--blue3 color--blue c-btn--secondary w-full"
                    >
                      Join Monthly
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="
                flex
                justify-center
                pb-12
                border-t border-solid border-black
              "
            >
              <div class="w-full flex pt-2">
                <div class="flex flex-col w-full pr-3">
                  <p class="font-bold text-sm">Group memberships</p>
                  <p class="text-xs font-hairline mt-2">
                    <a class="underline" href="">Click here</a> if you’re
                    interested in a groupmembership for your org.
                  </p>
                </div>
              </div>
              <div class="w-full flex pt-2">
                <div class="flex flex-col w-full pl-3">
                  <p class="font-bold text-sm">Group memberships</p>
                  <p class="text-xs font-hairline mt-2">
                    <a class="underline" href="">Get a handy template</a> you
                    cancopy+paste for your boss.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="bg-img box-black">
    <div class="container mx-auto">
      <div class="md:grid md:grid-cols-12 gap-4 py-12 md:py-20">
        <div class="col-span-12 mb-8">
          <p class="c-title text-white leading-none text-center mt-3 md:p-0">
            One membership. Everything you need.
          </p>
        </div>
        <div class="col-span-4 box-1">
          <div class="w-full p-4 md:pr-6">
            <div class="mt-2">
              <div class="flex">
                <div class="flex items-center bg-white px-1">
                  <h3 class="c-card--title text-md">
                    Another Title of this Quote
                  </h3>
                </div>
              </div>
              <div>
                <div class="c-card--box max-h--200">
                  <p class="text-white">
                    Trust a community of curators and thinkers who sift through
                    the best blogs, Twitter threads, podcasts, and videos so you
                    don’t have to.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-span-4 box-2">
          <div class="w-full p-4 md:pr-6">
            <div class="mt-2">
              <div class="flex">
                <div class="flex items-center bg-white px-1">
                  <h3 class="c-card--title text-md">
                    Another Title of this Quote
                  </h3>
                </div>
              </div>
              <div>
                <div class="c-card--box max-h--200">
                  <p class="text-white">
                    Explore a curated collection of startups, content, people,
                    and topics and flow between them based on their connections
                  </p>
                </div>
              </div>
            </div>
          </div>
          <span class="icon icon-eye"></span>
        </div>
        <div class="col-span-4 box-1">
          <div class="w-full p-4 md:pr-6">
            <div class="mt-2">
              <div class="flex">
                <div class="flex items-center bg-white px-1">
                  <h3 class="c-card--title text-md">
                    Another Title of this Quote
                  </h3>
                </div>
              </div>
              <div>
                <div class="c-card--box max-h--200">
                  <p class="text-white">
                    We show you highlights so you get the key insights in
                    minutes, not hours. (Because nobody wants a long list of
                    links.)
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-span-4">
          <div class="w-full p-4 md:pr-6">
            <div class="mt-2">
              <div class="flex">
                <div class="flex items-center bg-white px-1">
                  <h3 class="c-card--title text-md">
                    Another Title of this Quote
                  </h3>
                </div>
              </div>
              <div>
                <div class="c-card--box max-h--200">
                  <p class="text-white">
                    Be inspired by serendipitous knowledge when you need
                    creative raw material, supporting research, or a shot of
                    inspiration.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-span-4">
          <div class="w-full p-4 md:pr-6">
            <div class="mt-2">
              <div class="flex">
                <div class="flex items-center bg-white px-1">
                  <h3 class="c-card--title text-md">
                    Another Title of this Quote
                  </h3>
                </div>
              </div>
              <div>
                <div class="c-card--box max-h--200">
                  <p class="text-white">
                    Discover the people behind the scenes at up-and-coming
                    startups — the studio that designed the site, the angel
                    investor that wrote the check, the freelance copywriter, and
                    others who are rarely showcased to the outside world.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-span-4">
          <div class="w-full p-4 md:pr-6">
            <div class="mt-2">
              <div class="flex">
                <div class="flex items-center bg-white px-1">
                  <h3 class="c-card--title text-md">
                    Another Title of this Quote
                  </h3>
                </div>
              </div>
              <div>
                <div class="c-card--box max-h--200">
                  <p class="text-white">
                    Track what the smartes minds are saying and reading about
                    the most relevant topics in a searchable, organized way
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container mx-auto md:p-6">
    <div class="block-randon">
      <div class="section-1">
        <div class="block-1">
          <div class="text">
            <div
              class="
                flex
                items-center
                bg-black
                px-1
                bg-hover
                max-w-content
                bg-hover bg-hover
              "
            >
              <h3 class="text-white text-2xl hidden md:block">
                This is for you if you care about...
              </h3>
              <h3 class="text-white text-2xl md:hidden">
                If you care about...
              </h3>
            </div>
            <div class="box-1">
              <span class="nro">1</span>
              <p class="leading-4 md:text-2xl md:leading-7">
                What should I read to learn about the evolution of the
                <a href="" class="color--blue">creator economy</a> and
                <a href="" class="color--blue">creator monetization?</a>
              </p>
            </div>
          </div>
          <img class="hidden md:block" src="./static/img/elipse.png" alt="" />
        </div>
        <div class="block-2">
          <div class="box-2">
            <p class="leading-4">
              What should I read to learn about the evolution of the
              <a href="" class="color--blue">creator economy</a> and
              <a href="" class="color--blue">creator monetization?</a>
            </p>
            <span class="nro">19</span>
          </div>
          <div class="box-1-mobile">
            <div class="box-2">
              <span class="nro">314</span>
              <p class="leading-4">
                What should I read to learn about the evolution of the
                <a href="" class="color--blue">creator economy</a> and
                <a href="" class="color--blue">creator monetization?</a>
              </p>
            </div>
            <img class="md:hidden" src="./static/img/elipse.png" alt="" />
          </div>
        </div>
      </div>
      <div class="section-2">
        <div class="block-1">
          <img src="./static/img/memphis.jpeg" alt="" />
          <div class="box-1">
            <span class="nro">1.8</span>
            <p class="text-2xl leading-7">
              Why are we seeing a resurgence in
              <a href="" class="color--blue">online communities</a> and
              <a href="" class="color--blue">vertical social networks?</a>
            </p>
          </div>
        </div>
        <div class="block-2">
          <div class="box-2">
            <p class="leading-4">
              What are the narratives driving
              <a href="" class="color--blue">the future of media?</a>
            </p>
            <span class="nro">5</span>
          </div>
          <div class="box-2 box-r-mobile">
            <span class="nro">6</span>
            <p class="leading-4">
              Why are we witnessing a
              <a href="" class="color--blue">rise in newsletters?</a>
            </p>
          </div>
        </div>
      </div>
      <div class="section-3">
        <div class="block-1">
          <div class="text">
            <div class="box-1">
              <p class="text-2xl leading-7">
                <b>Who did the branding for your favorite consumer brand?</b>
              </p>
              <span class="nro">7</span>
            </div>
            <img class="hidden md:block" src="./static/img/elipse.png" alt="" />
          </div>
          <img
            class="hidden md:block"
            src="./static/img/memphis-2.jpeg"
            alt=""
          />
        </div>
        <div class="block-2">
          <div class="box-2">
            <span class="nro">8</span>
            <p class="leading-4">
              What is driving the
              <a href="" class="color--blue">consumerization of healthcare?</a>
            </p>
          </div>
          <div class="text-2">
            <div class="box-2-mobile">
              <div class="box-1">
                <span class="nro">1</span>
                <p class="text-2xl leading-7">
                  Who is investing in <a href="" class="color--blue">DNVBs?</a>
                </p>
              </div>
              <img class="md:hidden" src="./static/img/elipse.png" alt="" />
            </div>
            <img
              class="hidden md:block"
              src="./static/img/memphis-3.jpeg"
              alt=""
            />
            <img
              class="bg-mobile-full md:hidden"
              src="./static/img/memphis-2.jpeg"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="section-4">
        <div class="box-2">
          <span class="nro">10</span>
          <p class="leading-4">
            What are the most interesting
            <a href="" class="color--blue">digital wellness apps?</a>
          </p>
        </div>
        <div class="box-2 box-mobile-2">
          <span class="nro">...</span>
          <p>and....</p>
        </div>
        <div
          class="
            hidden
            flex
            items-center
            bg-black
            px-1
            bg-hover
            max-w-content
            bg-hover bg-hover
            md:block
          "
        >
          <h3 class="text-white text-2xl">
            <p>and</p>
            <span>...</span>
          </h3>
        </div>
        <div
          class="
            flex
            box-mobile-3
            items-center
            bg-black
            px-1
            bg-hover
            max-w-content
            bg-hover bg-hover
            md:hidden
          "
        >
          <h3 class="text-white text-2xl">... then Startupy is for you.</h3>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="text-center pb-12 md:pb-32">
      <h2 class="c-sub-title">Don’t take our word for it.</h2>
    </div>
    <div class="slider pb-12">
      <div class="item">
        <h3 class="title">Convincing Testimonial</h3>
        <div class="info">
          <p class="text">
            “Etiam porta sem malesuada magna mollis euismod. Aenean lacinia
            bibendum nulla sed consectetur. Cras justo odio, dapibus ac
            facilisis in, egestas eget quam”
          </p>
          <div class="flex items-center mt-2">
            <div class="c-curator--circle border-color--blue">
              <span class="text-xs color--blue">KM</span>
            </div>
            <span class="c-curator--text color--blue"
              >Kathryn Murphy, CEO of X</span
            >
          </div>
        </div>
      </div>
      <div class="item">
        <h3 class="title">Irrefutable Testimonial</h3>
        <div class="info opacity-25">
          <p class="text">
            “Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
            auctor. Aenean lacinia bibendum nulla sed consectetur. Fusce
            dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
            ut fermentum massa justo sit amet risus. Integer posuere erat a ante
            venenatis dapibus posuere velit aliquet.”
          </p>
          <div class="flex items-center mt-2">
            <div class="c-curator--circle border-color--blue">
              <span class="text-xs color--blue">KM</span>
            </div>
            <span class="c-curator--text color--blue"
              >Kathryn Murphy, CEO of X</span
            >
          </div>
        </div>
      </div>
      <div class="item">
        <h3 class="title">Convincing Testimonial</h3>
        <div class="info">
          <p class="text">
            “Etiam porta sem malesuada magna mollis euismod. Aenean lacinia
            bibendum nulla sed consectetur. Cras justo odio, dapibus ac
            facilisis in, egestas eget quam”
          </p>
          <div class="flex items-center mt-2">
            <div class="c-curator--circle border-color--blue">
              <span class="text-xs color--blue">KM</span>
            </div>
            <span class="c-curator--text color--blue"
              >Kathryn Murphy, CEO of X</span
            >
          </div>
        </div>
      </div>
      <div class="item">
        <h3 class="title">Convincing Testimonial</h3>
        <div class="info">
          <p class="text">
            “Etiam porta sem malesuada magna mollis euismod. Aenean lacinia
            bibendum nulla sed consectetur. Cras justo odio, dapibus ac
            facilisis in, egestas eget quam”
          </p>
          <div class="flex items-center mt-2">
            <div class="c-curator--circle border-color--blue">
              <span class="text-xs color--blue">KM</span>
            </div>
            <span
              class="pl-2 text-sm font-bold whitespace-no-wrap pr-2 color--blue"
              >Kathryn Murphy, CEO of X</span
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
<section class="bg-img--full py-12 flex items-center md:py-56">
    <div class="container mx-auto">
      <div class="md:grid md:grid-cols-12 gap-4">
        <div class="md:col-start-3 md:col-span-10 lg:col-start-5 lg:col-span-4">
          <p class="text-white text-xl pb-8">Become a member to enter the 🐇 🕳</p>
          <div class="pb-8">
            <button class="bkg--blue2 c-btn--secondary w-full">Join Annual $15/mo <span class="text-xs">($180/yr)</span></button>
          </div>
          <div>
            <button class="c-btn--white w-full">Join Monthly $20/mo</span></button>
          </div>
        </div>
      </div>
    </div>
  </section>

{%- include 'footer.html' %} {%- endblock %} {% block scripts %} {%- endblock %}
