{% extends "_layout.html" %}

{% block title %}Startupy{% endblock %}

{% block head %}
{%- endblock %}

{% block content %}
<header class="c-header">
  <div class="c-header--top items-center justify-between flex">
    <a class="pl-4 text-xl" href=""><h1 class="ff-conv-PxGrotesk text-white">Startupy</h1></a>
    <div>
      <a class="text-white p-2 font-bold text-xs" href="">Our Manifesto</a>
      <a class="text-white p-2 font-bold text-xs" href="">Join Membership</a>
      <a class="text-white p-2 pr-4 font-bold text-xs" href="">Login</a>
    </div>
  </div>
</header>

<main>
  <section class="container mx-auto">
    <div class="md:grid grid-cols-6 gap-4 mt-8 md:mt-12">
      <div class="md:col-start-2 col-span-4">
        <div class="p-5">
          <div class="flex">
            <div class="mr-4 md:mr-8">
              <div class="flex items-center justify-center h-8 w-8 md:h-20 md:w-20 mt-6">
              </div>
            </div>
            <div>
              <div class="flex items-center">
                <h2 class="text-2xl md:text-4xl font-bold">The Future of Warehousing</h2>
                <i class="icon-eye-black text-4xl ml-3 color--blue"></i>
              </div>
              <div class="flex items-center color--gray">
                <span class="text-xs">Last Updated: Jul 25, 2020</span>
                <a class="text-xs ml-5 underline" href="">Changelog</a>
              </div>
              <div class="flex mb-8 mt-8 items-center">
                <div class="mr-4 md:mr-8">
                  <span class="font-bold text-xs color--gray">Related Topics</span>
                  <div class="flex">
                    <div class="border-solid border border-black rounded-full h-8 w-8 flex items-center justify-center mr-3 mt-1">
                      <span class="text-xs font-bold">HR</span>
                    </div>
                    <div class="border-solid border border-black rounded-full h-8 w-8 flex items-center justify-center mr-3 mt-1">
                      <span class="text-xs font-bold">EE</span>
                    </div>
                    <div class="border-solid border border-black rounded-full h-8 w-8 flex items-center justify-center mr-3 mt-1">
                      <span class="text-xs font-bold">JN</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-6">
                <span class="font-bold text-sm color--gray">Related Topics</span>
                <div class="flex mt-2 items-center flex-wrap">
                  <span class="color--blue bkg--blue-transparent px-2 py-1 mr-2 mb-2">Related Topics</span>
                  <span class="color--blue bkg--blue-transparent px-2 py-1 mr-2 mb-2">Carbon Offsetting and Carbon Removal</span>
                  <span class="color--blue bkg--blue-transparent px-2 py-1 mr-2 mb-2">Future of Fashion</span>
                  <span class="color--blue bkg--blue-transparent px-2 py-1 mr-2 mb-2">Sustainable Brands</span>
                  <span class="color--blue bkg--blue-transparent px-2 py-1 mr-2 mb-2">Sustainable Fashion</span>
                  <div class="flex color--gray cursor-pointer items-center mr-2 mb-2">
                    <i class="icon-add text-2xl"></i>
                  </div>
                </div>
              </div>
              <div>
                <span class="font-bold text-sm color--gray">Top Authors</span>
                <div class="flex mt-2 items-center flex-wrap">
                  <span class="bkg--yellow-transparent px-2 py-1 mr-2 mb-2">Brooklyn Simmons</span>
                  <span class="bkg--yellow-transparent px-2 py-1 mr-2 mb-2">Jenny Wilson</span>
                  <span class="bkg--yellow-transparent px-2 py-1 mr-2 mb-2">Floyd Miles</span>
                  <span class="bkg--yellow-transparent px-2 py-1 mr-2 mb-2">Leslie Alexander</span>
                  <span class="bkg--yellow-transparent px-2 py-1 mr-2 mb-2">Courtney Henry</span>
                  <span class="bkg--yellow-transparent px-2 py-1 mr-2 mb-2">Darlene Robertson</span>
                  <span class="bkg--yellow-transparent px-2 py-1 mr-2 mb-2">Theresa Webb</span>
                  <div class="flex color--gray cursor-pointer items-center mr-2 mb-2">
                    <i class="icon-add text-2xl"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>


{%- endblock %}

{% block scripts %}
{%- endblock %}