.ff-conv-druk {
  font-family: 'Conv_Druk Cond Super';
}

.ff-conv-PxGrotesk {
	font-family: 'Conv_PxGrotesk-OIL';
}

.ff-conv-ConcordeBQ {
	font-family: 'Conv_ConcordeBQ-Regular';
}

.ff-mono-bold {
	font-family: 'sf_monobold';
}

.ff-mono-regular {
	font-family: 'sf_monoregular';
}

.ff-mono-light {
	font-family: 'sf_monolight';
}

.c-header--top {
	background-image: url(../static/img/header-top.jpg);
	height: 40px;
	width: 100%;
	background-size: 100%;
}

/* preview */
.c-preview--img {
	width: 100%;
	height: auto;
}

/* color */
.color--blue {
 color:	#0C3EF1;
}

.color--gray {
	color: #A0A0A0;
}

.color--purple {
	color: #BB43F4;
}

/* bacground */
.bkg--blue-transparent {
 background: rgba(12, 62, 241, 0.1);
}

.bkg--yellow-transparent {
	background: rgba(241, 232, 12, 0.3);
}

.bkg--purple-transparent {
	background: rgba(168, 12, 241, 0.1);
}

.bkg--purple {
	background: #BB43F4;
}

.max-h--200 {
	max-height: 200px;
}